Data for IL covid-19 was aqcuired from:
https://www.dph.illinois.gov/sitefiles/COVIDTestResults.json

In [1]:
import pandas as pd

In [2]:
import requests

resp = requests.get('https://www.dph.illinois.gov/sitefiles/COVIDTestResults.json')
txt = resp.json()

In [3]:
obj_county = txt['characteristics_by_county']

In [4]:
illinois_data = pd.DataFrame(obj_county['values'])

In [5]:
illinois_data

         County  confirmed_cases  total_tested  deaths        lat        lon
0      Illinois           374256       7268952    9505  39.839888 -89.510168
1         Adams             1862         38542      19  40.057800 -91.135300
2     Alexander              120          2350       1  37.167000 -89.360600
3          Bond              499          7700       9  38.903000 -89.474200
4         Boone             1860         21756      25  42.348500 -88.826300
..          ...              ...           ...     ...        ...        ...
101   Whiteside             1400         20122      27  41.760600 -89.850500
102        Will            18356        275472     427  41.505500 -88.090100
103  Williamson             1883         31868      59  37.718300 -88.864700
104   Winnebago            10183        133444     180  42.312100 -89.170600
105    Woodford              618         16973      14  40.712900 -89.170600

[106 rows x 6 columns]

In [6]:
illinois_data.to_csv('../data/Illinois_covid_data.csv', index=False)