### Resources:
- [Texas Department of State Health Services](https://dshs.texas.gov/coronavirus/additionaldata.aspx)

original data from Texas DSHS was provided in excel format. 

Prior ro importing the files to jupyter notebook, I deleted the first two rows, containing the title and a disclaimer, and saved the new changes as a csv file.

Files to be used:
- Total cases by county (data collected from 3/4/2020 - 10/22/2020)
- Total Fatalities by county (data collected from 3/7/2020 - 10/22/2020)

### Content
- [Total cases data](#Total-cases-data)
- [Total fatality data](#Total-fatality-data)

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Total cases data

In [2]:
total_cases_df = pd.read_csv('../data/preprocessing/Texas_total_cases_oct-22.csv')

In [3]:
total_cases_df.head()

,County Name,Cases \r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\n\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\n03-04,Cases \r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\n\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\n03-05,Cases \r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\n\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\n03-06,Cases \r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\n\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\n03-09,Cases \r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\n\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\n03-10,Cases \r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\n\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\n03-11,Cases \r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\n\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\n03-12,Cases \r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\n\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\n03-13,Cases \r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\n\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\n03-15,...,Cases 10-13,Cases 10-14,Cases 10-15,Cases 10-16,Cases 10-17,Cases 10-18,Cases 10-19,Cases 10-20,Cases 10-21,Cases 10-22
0,Anderson,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2892.0,2885.0,2903.0,2906.0,2909.0,2909.0,2909.0,2920.0,2922.0,2934.0
1,Andrews,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,518.0,518.0,518.0,547.0,547.0,547.0,547.0,549.0,567.0,567.0
2,Angelina,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2221.0,2221.0,2221.0,2251.0,2251.0,2251.0,2251.0,2251.0,2277.0,2277.0
3,Aransas,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,340.0,340.0,340.0,340.0,341.0,341.0,341.0,340.0,340.0,340.0
4,Archer,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,101.0,103.0,105.0,106.0,114.0,114.0,114.0,114.0,133.0,133.0

In [5]:
total_cases_df.shape

(255, 222)

In [8]:
#column names are not in the right format
#also March7, 8, and 14 are missing from this file

#making a list of dates between these two dates
date1 = '2020-03-04'
date2 = '2020-10-22'
mydates = pd.date_range(date1, date2).tolist()

In [9]:
del mydates[3:5]

In [10]:
mydates[8]

Timestamp('2020-03-14 00:00:00', freq='D')

In [11]:
del mydates[8]

In [12]:
len(mydates)

230

In [13]:
new_dates = []
for date in mydates:
    date =  str(date)
    new_dates.append(date[:10])

In [14]:
new_columns = ['county_name'] + new_dates
new_columns[:6]

['county_name',
 '2020-03-04',
 '2020-03-05',
 '2020-03-06',
 '2020-03-09',
 '2020-03-10']

In [15]:
total_cases_df.columns = new_columns

In [16]:
total_cases_df.head()

,county_name,2020-03-04,2020-03-05,2020-03-06,2020-03-09,2020-03-10,2020-03-11,2020-03-12,2020-03-13,2020-03-15,...,2020-10-13,2020-10-14,2020-10-15,2020-10-16,2020-10-17,2020-10-18,2020-10-19,2020-10-20,2020-10-21,2020-10-22
0,Anderson,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2892.0,2885.0,2903.0,2906.0,2909.0,2909.0,2909.0,2920.0,2922.0,2934.0
1,Andrews,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,518.0,518.0,518.0,547.0,547.0,547.0,547.0,549.0,567.0,567.0
2,Angelina,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2221.0,2221.0,2221.0,2251.0,2251.0,2251.0,2251.0,2251.0,2277.0,2277.0
3,Aransas,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,340.0,340.0,340.0,340.0,341.0,341.0,341.0,340.0,340.0,340.0
4,Archer,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,101.0,103.0,105.0,106.0,114.0,114.0,114.0,114.0,133.0,133.0

In [26]:
total_cases_cleaned = total_cases_df[['county_name', '2020-10-21']]
total_cases_cleaned

    county_name  2020-10-21
0      Anderson      2922.0
1       Andrews       567.0
2      Angelina      2277.0
3       Aransas       340.0
4        Archer       133.0
..          ...         ...
250      Yoakum       289.0
251       Young       497.0
252      Zapata       342.0
253      Zavala       452.0
254         NaN         NaN

[255 rows x 2 columns]

In [27]:
total_cases_cleaned.dropna(inplace=True)

<ipython-input-27-e1729d5c2e57>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  total_cases_cleaned.dropna(inplace=True)

In [23]:
total_cases_cleaned.head(2)

  county_name  2020-10-22
0    Anderson      2934.0
1     Andrews       567.0

In [28]:
total_cases_cleaned.rename(columns={'2020-10-21': 'total_cases'}, inplace=True)

/Users/ferasaltwal/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4125: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [29]:
total_cases_cleaned

    county_name  total_cases
0      Anderson       2922.0
1       Andrews        567.0
2      Angelina       2277.0
3       Aransas        340.0
4        Archer        133.0
..          ...          ...
249        Wood        621.0
250      Yoakum        289.0
251       Young        497.0
252      Zapata        342.0
253      Zavala        452.0

[254 rows x 2 columns]

# Total fatality data

In [22]:
total_fatality_df = pd.read_csv('../data/preprocessing/Texas_total_fatalities_oct-22.csv')
total_fatality_df

,County Name,Fatalities 03-07,Fatalities 03-08,Fatalities 03-09,Fatalities 03-10,Fatalities 03-11,Fatalities 03-12,Fatalities 03-13,Fatalities 03-14,Fatalities 03-15,...,Fatalities 10-12,Fatalities 10-13,Fatalities 10-14,Fatalities 10-15,Fatalities 10-16,Fatalities 10-17,Fatalities 10-18,Fatalities 10-19,Fatalities 10-20,Fatalities 10-21
0,ANDERSON,0,0,0,0,0,0,0,0,0,...,39,39,39,39,39,39,39,39,39,39
1,ANDREWS,0,0,0,0,0,0,0,0,0,...,10,10,10,10,10,10,10,10,10,10
2,ANGELINA,0,0,0,0,0,0,0,0,0,...,89,89,89,90,90,90,90,90,90,90
3,ARANSAS,0,0,0,0,0,0,0,0,0,...,18,18,18,18,18,18,18,18,18,18
4,ARCHER,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249,WOOD,0,0,0,0,0,0,0,0,0,...,34,35,36,36,36,36,36,36,36,36
250,YOAKUM,0,0,0,0,0,0,0,0,0,...,5,5,5,5,5,5,5,5,5,5
251,YOUNG,0,0,0,0,0,0,0,0,0,...,6,6,6,6,6,6,6,6,6,6
252,ZAPATA,0,0,0,0,0,0,0,0,0,...,9,9,9,9,9,9,9,9,9,9
253,ZAVALA,0,0,0,0,0,0,0,0,0,...,18,18,18,18,18,18,18,18,18,18

fatalities columns look clean already. will not be changing them for now

In [31]:
total_fatality_cleaned = total_fatality_df[['County Name', 'Fatalities 10-21']]
total_fatality_cleaned

    County Name  Fatalities 10-21
0      ANDERSON                39
1       ANDREWS                10
2      ANGELINA                90
3       ARANSAS                18
4        ARCHER                 1
..          ...               ...
249        WOOD                36
250      YOAKUM                 5
251       YOUNG                 6
252      ZAPATA                 9
253      ZAVALA                18

[254 rows x 2 columns]

In [32]:
total_fatality_cleaned.rename(columns={'County Name':'county_name', 'Fatalities 10-21': 'total_fatalities'}, inplace=True)
total_fatality_cleaned

/Users/ferasaltwal/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4125: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

    county_name  total_fatalities
0      ANDERSON                39
1       ANDREWS                10
2      ANGELINA                90
3       ARANSAS                18
4        ARCHER                 1
..          ...               ...
249        WOOD                36
250      YOAKUM                 5
251       YOUNG                 6
252      ZAPATA                 9
253      ZAVALA                18

[254 rows x 2 columns]

### Merging the two datasets

In [33]:
texas_combined = pd.merge(total_cases_cleaned, total_fatality_cleaned, 
                          on='county_name', left_index=True, right_index=True)

In [80]:
texas_combined.head(10)

  county_name  total_cases  total_fatalities  death_rate
0    Anderson       2922.0                39    0.013347
1     Andrews        567.0                10    0.017637
2    Angelina       2277.0                90    0.039526
3     Aransas        340.0                18    0.052941
4      Archer        133.0                 1    0.007519
5   Armstrong         21.0                 1    0.047619
6    Atascosa       1265.0                35    0.027668
7      Austin        509.0                 9    0.017682
8      Bailey        264.0                 5    0.018939
9     Bandera        184.0                 8    0.043478

In [ ]:
death_rate1 = []
for i, n in zip(texas_combined['total_cases'], texas_combined['total_fatalities']):
    if i == 0:
        rate=0
    else:
        rate = n/i
        death_rate1.append(rate)

In [67]:
len(death_rate1)

253

In [68]:
len(texas_combined)

254

In [71]:
texas_combined['death_rate'] = texas_combined['total_fatalities']/texas_combined['total_cases']

In [73]:
texas_combined.sample(30)

       county_name  total_cases  total_fatalities  death_rate
206     Schleicher         55.0                 2    0.036364
117          Irion         13.0                 0    0.000000
200           Rusk        990.0                21    0.021212
98        Hardeman         60.0                 1    0.016667
10         Bastrop       1949.0                31    0.015906
234       Victoria       4224.0                97    0.022964
135         Kinney         72.0                 1    0.013889
253         Zavala        452.0                18    0.039823
158         Martin         86.0               144    1.674419
46        Comanche        348.0                 5    0.014368
221        Terrell          4.0                 0    0.000000
109        Hockley        519.0                12    0.023121
21        Brewster        246.0                 5    0.020325
202  San Augustine        214.0                15    0.070093
76           Floyd        121.0                 9    0.074380
97        Hansford        187.0                 6    0.032086
106      Henderson       1203.0                31    0.025769
57          Dawson        762.0                16    0.020997
133         Kimble         21.0                 1    0.047619
248           Wise        881.0                15    0.017026
81            Frio       1008.0                 9    0.008929
197      Robertson        402.0                 4    0.009950
240        Wharton       1415.0                58    0.040989
25        Burleson        421.0                 6    0.014252
131           Kent         10.0                 0    0.000000
211          Smith       4269.0               127    0.029749
83       Galveston      12172.0               168    0.013802
151        Lubbock      16130.0               158    0.009795
45           Comal       2823.0               106    0.037549
50          Cottle         33.0                 3    0.090909

In [75]:
texas_combined[texas_combined['total_fatalities']==0]

       county_name  total_cases  total_fatalities  death_rate
16          Borden          2.0                 0         0.0
32          Carson         52.0                 0         0.0
37       Childress        107.0                 0         0.0
43   Collingsworth         20.0                 0         0.0
60          Denton      13773.0                 0         0.0
77           Foard         20.0                 0         0.0
86       Glasscock         12.0                 0         0.0
102        Hartley        168.0                 0         0.0
105       Hemphill        133.0                 0         0.0
117          Irion         13.0                 0         0.0
121     Jeff Davis         17.0                 0         0.0
131           Kent         10.0                 0         0.0
134           King          1.0                 0         0.0
150         Loving          0.0                 0         NaN
163         Menard         49.0                 0         0.0
172         Motley         14.0                 0         0.0
196        Roberts         14.0                 0         0.0
208    Shackelford         35.0                 0         0.0
215       Sterling         12.0                 0         0.0
221        Terrell          4.0                 0         0.0
241        Wheeler         62.0                 0         0.0

In [76]:
texas_combined['death_rate'].fillna(0, inplace=True)

In [77]:
texas_combined[149:152]

    county_name  total_cases  total_fatalities  death_rate
149       Llano        165.0                 2    0.012121
150      Loving          0.0                 0    0.000000
151     Lubbock      16130.0               158    0.009795

In [ ]:
texas_combined.to_csv('../data/texas_combined_cleaned_no_Census_FA.csv', index=False)

### Merging Census data

In [175]:
census_df = pd.read_csv('../data/tx_cleaned_numbers.csv')
census_df.head()

,county_state,race_pop,race_pop_hispanic_or_latino_of_any_race,race_pop_white_alone,race_pop_black_or_african_american_alone,race_pop_american_indian_and_alaska_native_alone,race_pop_asian_alone,race_pop_native_hawaiian_and_other_pacific_islander_alone,race_pop_some_other_race_alone,race_pop_two_or_more_races,...,inc_hhlds_100_000_to_149_999,inc_hhlds_150_000_to_199_999,inc_hhlds_200_000_or_more,inc_med_hhld_inc_dol,inc_mean_hhld_inc_dol,inc_per_capita_inc_dol,inc_med_earn_workers_dol,inc_med_earn_male_full_yr_workers_dol,inc_med_earn_female_full_yr_workers_dol,pop_density
0,"Austin County, Texas",29565,7819,18525,2576,48,89,0,52,456,...,2150,551,529,65365,80769,30858,33993,55417,38603,45.731424
1,"Kenedy County, Texas",595,522,72,0,0,1,0,0,0,...,8,0,0,36125,40908,15820,29453,40848,23295,0.407967
2,"Nueces County, Texas",360486,228462,107652,13071,919,7134,242,226,2780,...,18198,6452,5780,55048,74820,27649,30869,48043,34488,430.012072
3,"Colorado County, Texas",21022,6200,11855,2655,27,7,0,0,278,...,678,428,329,49504,70324,27861,30469,41853,34692,21.891440
4,"San Patricio County, Texas",67046,38483,26032,1003,101,671,30,7,719,...,3112,1483,767,55229,71588,25281,31318,50594,31847,96.686644

In [176]:
#changing county names in census_df to match the style in texas_combined datasetv
county_names_census = []

for county in census_df['county_state']:
    if len(county.split()) == 3:
        county = county.split()[0]
    elif len(county.split()) == 4:
        county = county.split()[0]+ ' ' + county.split()[1]
    
    county_names_census.append(county)

In [178]:
county_names_census[:5]

['Austin', 'Kenedy', 'Nueces', 'Colorado', 'San Patricio']

In [179]:
census_df['county_state'] = county_names_census

In [180]:
census_df.sample(10)

,county_state,race_pop,race_pop_hispanic_or_latino_of_any_race,race_pop_white_alone,race_pop_black_or_african_american_alone,race_pop_american_indian_and_alaska_native_alone,race_pop_asian_alone,race_pop_native_hawaiian_and_other_pacific_islander_alone,race_pop_some_other_race_alone,race_pop_two_or_more_races,...,inc_hhlds_100_000_to_149_999,inc_hhlds_150_000_to_199_999,inc_hhlds_200_000_or_more,inc_med_hhld_inc_dol,inc_mean_hhld_inc_dol,inc_per_capita_inc_dol,inc_med_earn_workers_dol,inc_med_earn_male_full_yr_workers_dol,inc_med_earn_female_full_yr_workers_dol,pop_density
106,Stephens,9372,2199,6709,222,66,38,0,26,112,...,331,107,120,45336,62311,24405,28803,49848,32279,10.451411
137,Parmer,9852,6201,3401,107,29,25,0,0,89,...,502,132,61,54184,67600,23686,30163,38567,28653,11.185032
123,Edwards,2055,1194,859,0,1,0,0,0,1,...,44,24,37,40313,62107,29814,21774,35163,33487,0.970314
213,Callahan,13770,1300,11900,66,11,39,0,0,454,...,458,251,108,44602,59335,24537,30114,41783,30405,15.310683
50,Howard,36667,15394,18015,2027,259,299,10,21,642,...,1541,324,390,51528,71173,23784,26963,48796,29020,40.705336
5,Rains,11473,1019,9814,322,69,8,0,0,241,...,343,181,153,49872,65103,26165,33163,46382,40277,50.001525
225,McMullen,662,332,326,0,4,0,0,0,0,...,23,16,25,68750,91265,32556,35500,58750,31875,0.580804
216,Kaufman,118910,24531,77641,12799,468,1410,46,232,1783,...,7606,2822,1424,65390,81752,27411,35454,52527,41538,152.316905
37,Kinney,3675,2297,1375,3,0,0,0,0,0,...,144,15,9,31468,49372,20323,30444,41530,35125,2.702097
93,Gaines,20321,8375,11299,391,93,95,13,44,11,...,815,318,237,59032,74857,22710,32571,49333,27473,13.526016

In [181]:
# changing the county column name to match the other dataset before joining
census_df.rename(columns={'county_state': 'county_name'}, inplace=True)

In [182]:
census_df.head(2)

,county_name,race_pop,race_pop_hispanic_or_latino_of_any_race,race_pop_white_alone,race_pop_black_or_african_american_alone,race_pop_american_indian_and_alaska_native_alone,race_pop_asian_alone,race_pop_native_hawaiian_and_other_pacific_islander_alone,race_pop_some_other_race_alone,race_pop_two_or_more_races,...,inc_hhlds_100_000_to_149_999,inc_hhlds_150_000_to_199_999,inc_hhlds_200_000_or_more,inc_med_hhld_inc_dol,inc_mean_hhld_inc_dol,inc_per_capita_inc_dol,inc_med_earn_workers_dol,inc_med_earn_male_full_yr_workers_dol,inc_med_earn_female_full_yr_workers_dol,pop_density
0,Austin,29565,7819,18525,2576,48,89,0,52,456,...,2150,551,529,65365,80769,30858,33993,55417,38603,45.731424
1,Kenedy,595,522,72,0,0,1,0,0,0,...,8,0,0,36125,40908,15820,29453,40848,23295,0.407967

In [183]:
census_df.sort_values(by='county_name', ascending=True, inplace=True)

In [184]:
census_df.reset_index(inplace=True)

In [185]:
census_df.drop(columns='index', inplace=True)
census_df

,county_name,race_pop,race_pop_hispanic_or_latino_of_any_race,race_pop_white_alone,race_pop_black_or_african_american_alone,race_pop_american_indian_and_alaska_native_alone,race_pop_asian_alone,race_pop_native_hawaiian_and_other_pacific_islander_alone,race_pop_some_other_race_alone,race_pop_two_or_more_races,...,inc_hhlds_100_000_to_149_999,inc_hhlds_150_000_to_199_999,inc_hhlds_200_000_or_more,inc_med_hhld_inc_dol,inc_mean_hhld_inc_dol,inc_per_capita_inc_dol,inc_med_earn_workers_dol,inc_med_earn_male_full_yr_workers_dol,inc_med_earn_female_full_yr_workers_dol,pop_density
0,Anderson,57863,10142,34312,12127,158,319,9,15,781,...,1432,422,240,43355,55852,16868,26621,36865,26890,54.452632
1,Andrews,17818,9979,7215,321,0,63,21,0,219,...,1214,398,352,74233,94962,31190,40478,72970,35194,11.872960
2,Angelina,87607,19174,53216,12834,107,987,5,163,1121,...,3257,985,639,47714,61152,22322,27411,41488,32622,109.813207
3,Aransas,24763,6756,16691,365,14,488,0,33,416,...,1047,476,496,44865,75471,30939,21567,43182,32005,98.246769
4,Archer,8789,727,7772,76,27,47,0,0,140,...,626,198,145,64476,80073,31806,32469,49105,37377,9.729998
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249,Wood,43815,4313,36273,2335,277,133,37,34,413,...,1996,663,455,48534,68298,27841,28985,49656,34209,67.904439
250,Yoakum,8571,5643,2763,25,11,5,0,29,95,...,557,153,142,68814,82418,26519,43250,68603,36103,10.717568
251,Young,18114,3332,14176,354,112,89,0,0,51,...,1066,172,131,47194,64653,25855,30734,49142,27542,19.807588
252,Zapata,14369,13542,615,0,0,179,0,0,33,...,215,78,82,31113,52009,17228,18938,36461,24946,14.391854
253,Zavala,12131,11372,602,60,0,4,0,0,93,...,129,9,6,30988,39610,13350,19020,31708,22638,9.350188

In [186]:
texas_combined

    county_name  total_cases  total_fatalities  death_rate
0      Anderson       2922.0                39    0.013347
1       Andrews        567.0                10    0.017637
2      Angelina       2277.0                90    0.039526
3       Aransas        340.0                18    0.052941
4        Archer        133.0                 1    0.007519
..          ...          ...               ...         ...
249        Wood        621.0                36    0.057971
250      Yoakum        289.0                 5    0.017301
251       Young        497.0                 6    0.012072
252      Zapata        342.0                 9    0.026316
253      Zavala        452.0                18    0.039823

[254 rows x 4 columns]

In [187]:
for i, n in zip(texas_combined['county_name'], census_df['county_name']):
    if i == n:
        print(i,' : ', n)
    else:
        print(i, ' : ', n, '---->','BAD')

Anderson  :  Anderson
Andrews  :  Andrews
Angelina  :  Angelina
Aransas  :  Aransas
Archer  :  Archer
Armstrong  :  Armstrong
Atascosa  :  Atascosa
Austin  :  Austin
Bailey  :  Bailey
Bandera  :  Bandera
Bastrop  :  Bastrop
Baylor  :  Baylor
Bee  :  Bee
Bell  :  Bell
Bexar  :  Bexar
Blanco  :  Blanco
Borden  :  Borden
Bosque  :  Bosque
Bowie  :  Bowie
Brazoria  :  Brazoria
Brazos  :  Brazos
Brewster  :  Brewster
Briscoe  :  Briscoe
Brooks  :  Brooks
Brown  :  Brown
Burleson  :  Burleson
Burnet  :  Burnet
Caldwell  :  Caldwell
Calhoun  :  Calhoun
Callahan  :  Callahan
Cameron  :  Cameron
Camp  :  Camp
Carson  :  Carson
Cass  :  Cass
Castro  :  Castro
Chambers  :  Chambers
Cherokee  :  Cherokee
Childress  :  Childress
Clay  :  Clay
Cochran  :  Cochran
Coke  :  Coke
Coleman  :  Coleman
Collin  :  Collin
Collingsworth  :  Collingsworth
Colorado  :  Colorado
Comal  :  Comal
Comanche  :  Comanche
Concho  :  Concho
Cooke  :  Cooke
Coryell  :  Coryell
Cottle  :  Cottle
Crane  :  Crane
Crockett  :  Crockett
Crosby  :  Crosby
Culberson  :  Culberson
Dallam  :  Dallam
Dallas  :  Dallas
Dawson  :  Dawson
Deaf Smith  :  DeWitt ----> BAD
Delta  :  Deaf Smith ----> BAD
Denton  :  Delta ----> BAD
DeWitt  :  Denton ----> BAD
Dickens  :  Dickens
Dimmit  :  Dimmit
Donley  :  Donley
Duval  :  Duval
Eastland  :  Eastland
Ector  :  Ector
Edwards  :  Edwards
Ellis  :  El Paso ----> BAD
El Paso  :  Ellis ----> BAD
Erath  :  Erath
Falls  :  Falls
Fannin  :  Fannin
Fayette  :  Fayette
Fisher  :  Fisher
Floyd  :  Floyd
Foard  :  Foard
Fort Bend  :  Fort Bend
Franklin  :  Franklin
Freestone  :  Freestone
Frio  :  Frio
Gaines  :  Gaines
Galveston  :  Galveston
Garza  :  Garza
Gillespie  :  Gillespie
Glasscock  :  Glasscock
Goliad  :  Goliad
Gonzales  :  Gonzales
Gray  :  Gray
Grayson  :  Grayson
Gregg  :  Gregg
Grimes  :  Grimes
Guadalupe  :  Guadalupe
Hale  :  Hale
Hall  :  Hall
Hamilton  :  Hamilton
Hansford  :  Hansford
Hardeman  :  Hardeman
Hardin  :  Hardin
Harris  :  Harris
Harrison  :  Harrison
Hartley  :  Hartley
Haskell  :  Haskell
Hays  :  Hays
Hemphill  :  Hemphill
Henderson  :  Henderson
Hidalgo  :  Hidalgo
Hill  :  Hill
Hockley  :  Hockley
Hood  :  Hood
Hopkins  :  Hopkins
Houston  :  Houston
Howard  :  Howard
Hudspeth  :  Hudspeth
Hunt  :  Hunt
Hutchinson  :  Hutchinson
Irion  :  Irion
Jack  :  Jack
Jackson  :  Jackson
Jasper  :  Jasper
Jeff Davis  :  Jeff Davis
Jefferson  :  Jefferson
Jim Hogg  :  Jim Hogg
Jim Wells  :  Jim Wells
Johnson  :  Johnson
Jones  :  Jones
Karnes  :  Karnes
Kaufman  :  Kaufman
Kendall  :  Kendall
Kenedy  :  Kenedy
Kent  :  Kent
Kerr  :  Kerr
Kimble  :  Kimble
King  :  King
Kinney  :  Kinney
Kleberg  :  Kleberg
Knox  :  Knox
Lamar  :  La Salle ----> BAD
Lamb  :  Lamar ----> BAD
Lampasas  :  Lamb ----> BAD
La Salle  :  Lampasas ----> BAD
Lavaca  :  Lavaca
Lee  :  Lee
Leon  :  Leon
Liberty  :  Liberty
Limestone  :  Limestone
Lipscomb  :  Lipscomb
Live Oak  :  Live Oak
Llano  :  Llano
Loving  :  Loving
Lubbock  :  Lubbock
Lynn  :  Lynn
McCulloch  :  Madison ----> BAD
McLennan  :  Marion ----> BAD
McMullen  :  Martin ----> BAD
Madison  :  Mason ----> BAD
Marion  :  Matagorda ----> BAD
Martin  :  Maverick ----> BAD
Mason  :  McCulloch ----> BAD
Matagorda  :  McLennan ----> BAD
Maverick  :  McMullen ----> BAD
Medina  :  Medina
Menard  :  Menard
Midland  :  Midland
Milam  :  Milam
Mills  :  Mills
Mitchell  :  Mitchell
Montague  :  Montague
Montgomery  :  Montgomery
Moore  :  Moore
Morris  :  Morris
Motley  :  Motley
Nacogdoches  :  Nacogdoches
Navarro  :  Navarro
Newton  :  Newton
Nolan  :  Nolan
Nueces  :  Nueces
Ochiltree  :  Ochiltree
Oldham  :  Oldham
Orange  :  Orange
Palo Pinto  :  Palo Pinto
Panola  :  Panola
Parker  :  Parker
Parmer  :  Parmer
Pecos  :  Pecos
Polk  :  Polk
Potter  :  Potter
Presidio  :  Presidio
Rains  :  Rains
Randall  :  Randall
Reagan  :  Reagan
Real  :  Real
Red River  :  Red River
Reeves  :  Reeves
Refugio  :  Refugio
Roberts  :  Roberts
Robertson  :  Robertson
Rockwall  :  Rockwall
Runnels  :  Runnels
Rusk  :  Rusk
Sabine  :  Sabine
San Augustine  :  San Augustine
San Jacinto  :  San Jacinto
San Patricio  :  San Patricio
San Saba  :  San Saba
Schleicher  :  Schleicher
Scurry  :  Scurry
Shackelford  :  Shackelford
Shelby  :  Shelby
Sherman  :  Sherman
Smith  :  Smith
Somervell  :  Somervell
Starr  :  Starr
Stephens  :  Stephens
Sterling  :  Sterling
Stonewall  :  Stonewall
Sutton  :  Sutton
Swisher  :  Swisher
Tarrant  :  Tarrant
Taylor  :  Taylor
Terrell  :  Terrell
Terry  :  Terry
Throckmorton  :  Throckmorton
Titus  :  Titus
Tom Green  :  Tom Green
Travis  :  Travis
Trinity  :  Trinity
Tyler  :  Tyler
Upshur  :  Upshur
Upton  :  Upton
Uvalde  :  Uvalde
Val Verde  :  Val Verde
Van Zandt  :  Van Zandt
Victoria  :  Victoria
Walker  :  Walker
Waller  :  Waller
Ward  :  Ward
Washington  :  Washington
Webb  :  Webb
Wharton  :  Wharton
Wheeler  :  Wheeler
Wichita  :  Wichita
Wilbarger  :  Wilbarger
Willacy  :  Willacy
Williamson  :  Williamson
Wilson  :  Wilson
Winkler  :  Winkler
Wise  :  Wise
Wood  :  Wood
Yoakum  :  Yoakum
Young  :  Young
Zapata  :  Zapata
Zavala  :  Zavala