### Resources:
- [Texas Department of State Health Services](https://dshs.texas.gov/coronavirus/additionaldata.aspx)

original data from Texas DSHS was provided in excel format. 

Prior ro importing the files to jupyter notebook, I deleted the first two rows, containing the title and a disclaimer, and saved the new changes as a csv file.

Files to be used:
- Total cases by county (data collected from 3/4/2020 - 10/22/2020)
- Total Fatalities by county (data collected from 3/7/2020 - 10/22/2020)

### Content
- [Total cases data](#Total-cases-data)
- [Total fatality data](#Total-fatality-data)

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Total cases data

In [2]:
total_cases_df = pd.read_csv('../data/preprocessing/Texas_total_cases_oct-22.csv')

In [3]:
total_cases_df.head()

,County Name,Cases \r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\n\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\n03-04,Cases \r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\n\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\n03-05,Cases \r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\n\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\n03-06,Cases \r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\n\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\n03-09,Cases \r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\n\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\n03-10,Cases \r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\n\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\n03-11,Cases \r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\n\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\n03-12,Cases \r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\n\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\n03-13,Cases \r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\n\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\n03-15,...,Cases 10-13,Cases 10-14,Cases 10-15,Cases 10-16,Cases 10-17,Cases 10-18,Cases 10-19,Cases 10-20,Cases 10-21,Cases 10-22
0,Anderson,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2892.0,2885.0,2903.0,2906.0,2909.0,2909.0,2909.0,2920.0,2922.0,2934.0
1,Andrews,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,518.0,518.0,518.0,547.0,547.0,547.0,547.0,549.0,567.0,567.0
2,Angelina,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2221.0,2221.0,2221.0,2251.0,2251.0,2251.0,2251.0,2251.0,2277.0,2277.0
3,Aransas,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,340.0,340.0,340.0,340.0,341.0,341.0,341.0,340.0,340.0,340.0
4,Archer,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,101.0,103.0,105.0,106.0,114.0,114.0,114.0,114.0,133.0,133.0

In [4]:
total_cases_df.shape

(255, 231)

In [5]:
#column names are not in the right format
#also March7, 8, and 14 are missing from this file

#making a list of dates between these two dates
date1 = '2020-03-04'
date2 = '2020-10-22'
mydates = pd.date_range(date1, date2).tolist()

In [6]:
del mydates[3:5]

In [7]:
mydates[8]

Timestamp('2020-03-14 00:00:00', freq='D')

In [8]:
del mydates[8]

In [9]:
len(mydates)

230

In [10]:
new_dates = []
for date in mydates:
    date =  str(date)
    new_dates.append(date[:10])

In [11]:
new_columns = ['county_name'] + new_dates
new_columns[:6]

['county_name',
 '2020-03-04',
 '2020-03-05',
 '2020-03-06',
 '2020-03-09',
 '2020-03-10']

In [12]:
total_cases_df.columns = new_columns

In [13]:
total_cases_df.head()

,county_name,2020-03-04,2020-03-05,2020-03-06,2020-03-09,2020-03-10,2020-03-11,2020-03-12,2020-03-13,2020-03-15,...,2020-10-13,2020-10-14,2020-10-15,2020-10-16,2020-10-17,2020-10-18,2020-10-19,2020-10-20,2020-10-21,2020-10-22
0,Anderson,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2892.0,2885.0,2903.0,2906.0,2909.0,2909.0,2909.0,2920.0,2922.0,2934.0
1,Andrews,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,518.0,518.0,518.0,547.0,547.0,547.0,547.0,549.0,567.0,567.0
2,Angelina,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2221.0,2221.0,2221.0,2251.0,2251.0,2251.0,2251.0,2251.0,2277.0,2277.0
3,Aransas,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,340.0,340.0,340.0,340.0,341.0,341.0,341.0,340.0,340.0,340.0
4,Archer,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,101.0,103.0,105.0,106.0,114.0,114.0,114.0,114.0,133.0,133.0

In [14]:
total_cases_cleaned = total_cases_df[['county_name', '2020-10-21']]
total_cases_cleaned

    county_name  2020-10-21
0      Anderson      2922.0
1       Andrews       567.0
2      Angelina      2277.0
3       Aransas       340.0
4        Archer       133.0
..          ...         ...
250      Yoakum       289.0
251       Young       497.0
252      Zapata       342.0
253      Zavala       452.0
254         NaN         NaN

[255 rows x 2 columns]

In [15]:
total_cases_cleaned.dropna(inplace=True)

/home/lyzka/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [16]:
total_cases_cleaned.head(2)

  county_name  2020-10-21
0    Anderson      2922.0
1     Andrews       567.0

In [17]:
total_cases_cleaned.rename(columns={'2020-10-21': 'total_cases'}, inplace=True)

/home/lyzka/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:4301: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [18]:
total_cases_cleaned

    county_name  total_cases
0      Anderson       2922.0
1       Andrews        567.0
2      Angelina       2277.0
3       Aransas        340.0
4        Archer        133.0
..          ...          ...
249        Wood        621.0
250      Yoakum        289.0
251       Young        497.0
252      Zapata        342.0
253      Zavala        452.0

[254 rows x 2 columns]

# Total fatality data

In [19]:
total_fatality_df = pd.read_csv('../data/preprocessing/Texas_total_fatalities_oct-22.csv')
total_fatality_df

,County Name,Fatalities 03-07,Fatalities 03-08,Fatalities 03-09,Fatalities 03-10,Fatalities 03-11,Fatalities 03-12,Fatalities 03-13,Fatalities 03-14,Fatalities 03-15,...,Fatalities 10-12,Fatalities 10-13,Fatalities 10-14,Fatalities 10-15,Fatalities 10-16,Fatalities 10-17,Fatalities 10-18,Fatalities 10-19,Fatalities 10-20,Fatalities 10-21
0,ANDERSON,0,0,0,0,0,0,0,0,0,...,39,39,39,39,39,39,39,39,39,39
1,ANDREWS,0,0,0,0,0,0,0,0,0,...,10,10,10,10,10,10,10,10,10,10
2,ANGELINA,0,0,0,0,0,0,0,0,0,...,89,89,89,90,90,90,90,90,90,90
3,ARANSAS,0,0,0,0,0,0,0,0,0,...,18,18,18,18,18,18,18,18,18,18
4,ARCHER,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249,WOOD,0,0,0,0,0,0,0,0,0,...,34,35,36,36,36,36,36,36,36,36
250,YOAKUM,0,0,0,0,0,0,0,0,0,...,5,5,5,5,5,5,5,5,5,5
251,YOUNG,0,0,0,0,0,0,0,0,0,...,6,6,6,6,6,6,6,6,6,6
252,ZAPATA,0,0,0,0,0,0,0,0,0,...,9,9,9,9,9,9,9,9,9,9
253,ZAVALA,0,0,0,0,0,0,0,0,0,...,18,18,18,18,18,18,18,18,18,18

fatalities columns look clean already. will not be changing them for now

In [20]:
total_fatality_cleaned = total_fatality_df[['County Name', 'Fatalities 10-21']]
total_fatality_cleaned

    County Name  Fatalities 10-21
0      ANDERSON                39
1       ANDREWS                10
2      ANGELINA                90
3       ARANSAS                18
4        ARCHER                 1
..          ...               ...
249        WOOD                36
250      YOAKUM                 5
251       YOUNG                 6
252      ZAPATA                 9
253      ZAVALA                18

[254 rows x 2 columns]

In [21]:
total_fatality_cleaned.rename(columns={'County Name':'county_name', 'Fatalities 10-21': 'total_fatalities'}, inplace=True)
total_fatality_cleaned

/home/lyzka/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:4301: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

    county_name  total_fatalities
0      ANDERSON                39
1       ANDREWS                10
2      ANGELINA                90
3       ARANSAS                18
4        ARCHER                 1
..          ...               ...
249        WOOD                36
250      YOAKUM                 5
251       YOUNG                 6
252      ZAPATA                 9
253      ZAVALA                18

[254 rows x 2 columns]

### Merging the two datasets

In [22]:
texas_combined = pd.merge(total_cases_cleaned, total_fatality_cleaned, 
                          on='county_name', left_index=True, right_index=True)

In [23]:
texas_combined.head(10)

  county_name  total_cases  total_fatalities
0    Anderson       2922.0                39
1     Andrews        567.0                10
2    Angelina       2277.0                90
3     Aransas        340.0                18
4      Archer        133.0                 1
5   Armstrong         21.0                 1
6    Atascosa       1265.0                35
7      Austin        509.0                 9
8      Bailey        264.0                 5
9     Bandera        184.0                 8

In [24]:
death_rate1 = []
for i, n in zip(texas_combined['total_cases'], texas_combined['total_fatalities']):
    if i == 0:
        rate=0
    else:
        rate = n/i
        death_rate1.append(rate)

In [25]:
len(death_rate1)

253

In [26]:
len(texas_combined)

254

In [27]:
texas_combined['death_rate'] = texas_combined['total_fatalities']/texas_combined['total_cases']

In [28]:
texas_combined.sample(30)

    county_name  total_cases  total_fatalities  death_rate
181  Palo Pinto        677.0                17    0.025111
233   Van Zandt        662.0                26    0.039275
0      Anderson       2922.0                39    0.013347
94         Hale       2407.0                60    0.024927
232   Val Verde       2431.0               124    0.051008
145     Liberty       2266.0                57    0.025154
60       Denton      13773.0                 0    0.000000
183      Parker       2299.0                45    0.019574
148    Live Oak        381.0                10    0.026247
234    Victoria       4224.0                97    0.022964
2      Angelina       2277.0                90    0.039526
139        Lamb        482.0                45    0.093361
212   Somervell        156.0                 5    0.032051
117       Irion         13.0                 0    0.000000
59        Delta         32.0                25    0.781250
132        Kerr        679.0                13    0.019146
29     Callahan        112.0                 4    0.035714
71        Erath        991.0                13    0.013118
116  Hutchinson        294.0                 7    0.023810
138       Lamar       1644.0                13    0.007908
30      Cameron      23871.0               970    0.040635
229      Upshur        467.0                12    0.025696
35     Chambers       1524.0                 8    0.005249
39      Cochran         90.0                 1    0.011111
48        Cooke        524.0                 8    0.015267
8        Bailey        264.0                 5    0.018939
119     Jackson        639.0                16    0.025039
23       Brooks        341.0                23    0.067449
130      Kenedy          7.0                 2    0.285714
206  Schleicher         55.0                 2    0.036364

In [29]:
texas_combined[texas_combined['total_fatalities']==0]

       county_name  total_cases  total_fatalities  death_rate
16          Borden          2.0                 0         0.0
32          Carson         52.0                 0         0.0
37       Childress        107.0                 0         0.0
43   Collingsworth         20.0                 0         0.0
60          Denton      13773.0                 0         0.0
77           Foard         20.0                 0         0.0
86       Glasscock         12.0                 0         0.0
102        Hartley        168.0                 0         0.0
105       Hemphill        133.0                 0         0.0
117          Irion         13.0                 0         0.0
121     Jeff Davis         17.0                 0         0.0
131           Kent         10.0                 0         0.0
134           King          1.0                 0         0.0
150         Loving          0.0                 0         NaN
163         Menard         49.0                 0         0.0
172         Motley         14.0                 0         0.0
196        Roberts         14.0                 0         0.0
208    Shackelford         35.0                 0         0.0
215       Sterling         12.0                 0         0.0
221        Terrell          4.0                 0         0.0
241        Wheeler         62.0                 0         0.0

In [30]:
texas_combined['death_rate'].fillna(0, inplace=True)

In [31]:
texas_combined[149:152]

    county_name  total_cases  total_fatalities  death_rate
149       Llano        165.0                 2    0.012121
150      Loving          0.0                 0    0.000000
151     Lubbock      16130.0               158    0.009795

In [32]:
texas_combined.to_csv('../data/texas_combined_cleaned_no_Census_FA.csv', index=False)

### Merging Census data

In [33]:
census_df = pd.read_csv('../data/tx_cleaned_numbers.csv')
census_df.head()

,county_state,race_pop,race_pop_hispanic_or_latino_of_any_race,race_pop_white_alone,race_pop_black_or_african_american_alone,race_pop_american_indian_and_alaska_native_alone,race_pop_asian_alone,race_pop_native_hawaiian_and_other_pacific_islander_alone,race_pop_some_other_race_alone,race_pop_two_or_more_races,...,inc_hhlds_100_000_to_149_999,inc_hhlds_150_000_to_199_999,inc_hhlds_200_000_or_more,inc_med_hhld_inc_dol,inc_mean_hhld_inc_dol,inc_per_capita_inc_dol,inc_med_earn_workers_dol,inc_med_earn_male_full_yr_workers_dol,inc_med_earn_female_full_yr_workers_dol,pop_density
0,"Austin County, Texas",29565,7819,18525,2576,48,89,0,52,456,...,2150,551,529,65365,80769,30858,33993,55417,38603,45.731424
1,"Kenedy County, Texas",595,522,72,0,0,1,0,0,0,...,8,0,0,36125,40908,15820,29453,40848,23295,0.407967
2,"Nueces County, Texas",360486,228462,107652,13071,919,7134,242,226,2780,...,18198,6452,5780,55048,74820,27649,30869,48043,34488,430.012072
3,"Colorado County, Texas",21022,6200,11855,2655,27,7,0,0,278,...,678,428,329,49504,70324,27861,30469,41853,34692,21.891440
4,"San Patricio County, Texas",67046,38483,26032,1003,101,671,30,7,719,...,3112,1483,767,55229,71588,25281,31318,50594,31847,96.686644

In [34]:
#changing county names in census_df to match the style in texas_combined datasetv
county_names_census = []

for county in census_df['county_state']:
    if len(county.split()) == 3:
        county = county.split()[0]
        county = county.upper()
    elif len(county.split()) == 4:
        county = county.split()[0]+ ' ' + county.split()[1]
        county = county.upper()
    
    county_names_census.append(county)

In [35]:
county_names_census[:5]

['AUSTIN', 'KENEDY', 'NUECES', 'COLORADO', 'SAN PATRICIO']

In [43]:
census_df.head(5)

,county_name,race_pop,race_pop_hispanic_or_latino_of_any_race,race_pop_white_alone,race_pop_black_or_african_american_alone,race_pop_american_indian_and_alaska_native_alone,race_pop_asian_alone,race_pop_native_hawaiian_and_other_pacific_islander_alone,race_pop_some_other_race_alone,race_pop_two_or_more_races,...,inc_hhlds_100_000_to_149_999,inc_hhlds_150_000_to_199_999,inc_hhlds_200_000_or_more,inc_med_hhld_inc_dol,inc_mean_hhld_inc_dol,inc_per_capita_inc_dol,inc_med_earn_workers_dol,inc_med_earn_male_full_yr_workers_dol,inc_med_earn_female_full_yr_workers_dol,pop_density
0,AUSTIN,29565,7819,18525,2576,48,89,0,52,456,...,2150,551,529,65365,80769,30858,33993,55417,38603,45.731424
1,KENEDY,595,522,72,0,0,1,0,0,0,...,8,0,0,36125,40908,15820,29453,40848,23295,0.407967
2,NUECES,360486,228462,107652,13071,919,7134,242,226,2780,...,18198,6452,5780,55048,74820,27649,30869,48043,34488,430.012072
3,COLORADO,21022,6200,11855,2655,27,7,0,0,278,...,678,428,329,49504,70324,27861,30469,41853,34692,21.891440
4,SAN PATRICIO,67046,38483,26032,1003,101,671,30,7,719,...,3112,1483,767,55229,71588,25281,31318,50594,31847,96.686644

In [37]:
census_df['county_state'] = county_names_census

In [39]:
census_df.sample(10)

,county_state,race_pop,race_pop_hispanic_or_latino_of_any_race,race_pop_white_alone,race_pop_black_or_african_american_alone,race_pop_american_indian_and_alaska_native_alone,race_pop_asian_alone,race_pop_native_hawaiian_and_other_pacific_islander_alone,race_pop_some_other_race_alone,race_pop_two_or_more_races,...,inc_hhlds_100_000_to_149_999,inc_hhlds_150_000_to_199_999,inc_hhlds_200_000_or_more,inc_med_hhld_inc_dol,inc_mean_hhld_inc_dol,inc_per_capita_inc_dol,inc_med_earn_workers_dol,inc_med_earn_male_full_yr_workers_dol,inc_med_earn_female_full_yr_workers_dol,pop_density
119,MCLENNAN,248429,64733,139766,35575,418,3957,30,304,3646,...,11162,3631,3210,48199,66650,24826,26472,42600,33357,239.536911
32,CROSBY,5861,3261,2330,210,0,14,0,3,43,...,128,30,40,37899,50926,19155,23740,35793,26250,6.510783
223,BURNET,45750,10120,33745,831,292,383,0,0,379,...,2399,658,931,59238,79066,30507,27171,46182,36201,46.013890
100,BAILEY,7092,4558,2346,46,72,70,0,0,0,...,201,110,51,46485,62434,21449,28543,40411,28184,8.575865
83,WILSON,48198,18995,27657,642,53,188,44,56,563,...,3089,1061,1075,72445,89915,30935,36950,57074,43634,59.967527
216,KAUFMAN,118910,24531,77641,12799,468,1410,46,232,1783,...,7606,2822,1424,65390,81752,27411,35454,52527,41538,152.316905
219,BELL,342236,83630,158804,72677,1066,9767,2156,286,13850,...,15605,4389,3759,54184,69605,25911,30068,42257,35690,325.539409
78,SAN JACINTO,27819,3563,20779,2846,134,0,13,0,484,...,937,301,194,44658,59016,21808,26261,42038,31342,48.870166
195,HIDALGO,849389,781681,54299,3619,614,7779,118,254,1025,...,21941,7541,5271,38398,56090,16490,21866,35026,28811,540.702489
247,BEE,32691,19152,10392,2535,186,141,4,13,268,...,827,286,271,42032,60273,17390,23636,46326,28808,37.138777

In [40]:
# changing the county column name to match the other dataset before joining
census_df.rename(columns={'county_state': 'county_name'}, inplace=True)

In [44]:
census_df.head(2)

,county_name,race_pop,race_pop_hispanic_or_latino_of_any_race,race_pop_white_alone,race_pop_black_or_african_american_alone,race_pop_american_indian_and_alaska_native_alone,race_pop_asian_alone,race_pop_native_hawaiian_and_other_pacific_islander_alone,race_pop_some_other_race_alone,race_pop_two_or_more_races,...,inc_hhlds_100_000_to_149_999,inc_hhlds_150_000_to_199_999,inc_hhlds_200_000_or_more,inc_med_hhld_inc_dol,inc_mean_hhld_inc_dol,inc_per_capita_inc_dol,inc_med_earn_workers_dol,inc_med_earn_male_full_yr_workers_dol,inc_med_earn_female_full_yr_workers_dol,pop_density
0,AUSTIN,29565,7819,18525,2576,48,89,0,52,456,...,2150,551,529,65365,80769,30858,33993,55417,38603,45.731424
1,KENEDY,595,522,72,0,0,1,0,0,0,...,8,0,0,36125,40908,15820,29453,40848,23295,0.407967

In [250]:
census_df.sort_values(by='county_name', ascending=True, inplace=True)

In [46]:
census_df.reset_index(inplace=True)

In [48]:
census_df.drop(columns='index', inplace=True)
census_df

,county_name,race_pop,race_pop_hispanic_or_latino_of_any_race,race_pop_white_alone,race_pop_black_or_african_american_alone,race_pop_american_indian_and_alaska_native_alone,race_pop_asian_alone,race_pop_native_hawaiian_and_other_pacific_islander_alone,race_pop_some_other_race_alone,race_pop_two_or_more_races,...,inc_hhlds_100_000_to_149_999,inc_hhlds_150_000_to_199_999,inc_hhlds_200_000_or_more,inc_med_hhld_inc_dol,inc_mean_hhld_inc_dol,inc_per_capita_inc_dol,inc_med_earn_workers_dol,inc_med_earn_male_full_yr_workers_dol,inc_med_earn_female_full_yr_workers_dol,pop_density
0,AUSTIN,29565,7819,18525,2576,48,89,0,52,456,...,2150,551,529,65365,80769,30858,33993,55417,38603,45.731424
1,KENEDY,595,522,72,0,0,1,0,0,0,...,8,0,0,36125,40908,15820,29453,40848,23295,0.407967
2,NUECES,360486,228462,107652,13071,919,7134,242,226,2780,...,18198,6452,5780,55048,74820,27649,30869,48043,34488,430.012072
3,COLORADO,21022,6200,11855,2655,27,7,0,0,278,...,678,428,329,49504,70324,27861,30469,41853,34692,21.891440
4,SAN PATRICIO,67046,38483,26032,1003,101,671,30,7,719,...,3112,1483,767,55229,71588,25281,31318,50594,31847,96.686644
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249,MCCULLOCH,8098,2587,4945,148,2,16,0,251,149,...,286,35,95,45329,58607,24409,26869,45357,26534,7.599467
250,LEE,16952,3970,10773,1889,0,165,0,26,129,...,686,296,189,55000,67793,25876,31188,47531,33876,26.949002
251,ELLIS,168838,43737,104141,15820,336,1104,46,159,3495,...,10267,4812,3471,72213,90350,30727,36752,53656,43455,180.448026
252,KERR,51365,13702,35484,759,117,473,32,114,684,...,2414,967,677,52473,73327,30498,27148,41314,37059,46.554690
253,FALLS,17299,3987,8878,4153,57,73,7,0,144,...,458,118,46,38032,49617,17830,25760,31817,35503,22.599335

In [49]:
texas_combined

    county_name  total_cases  total_fatalities  death_rate
0      Anderson       2922.0                39    0.013347
1       Andrews        567.0                10    0.017637
2      Angelina       2277.0                90    0.039526
3       Aransas        340.0                18    0.052941
4        Archer        133.0                 1    0.007519
..          ...          ...               ...         ...
249        Wood        621.0                36    0.057971
250      Yoakum        289.0                 5    0.017301
251       Young        497.0                 6    0.012072
252      Zapata        342.0                 9    0.026316
253      Zavala        452.0                18    0.039823

[254 rows x 4 columns]

In [292]:
texas_combined_census.sample(20)

,county_name,total_cases,total_fatalities,death_rate,race_pop,race_pop_hispanic_or_latino_of_any_race,race_pop_white_alone,race_pop_black_or_african_american_alone,race_pop_american_indian_and_alaska_native_alone,race_pop_asian_alone,...,inc_hhlds_100_000_to_149_999,inc_hhlds_150_000_to_199_999,inc_hhlds_200_000_or_more,inc_med_hhld_inc_dol,inc_mean_hhld_inc_dol,inc_per_capita_inc_dol,inc_med_earn_workers_dol,inc_med_earn_male_full_yr_workers_dol,inc_med_earn_female_full_yr_workers_dol,pop_density
12,Bee,1845.0,39,0.021138,32691,19152,10392,2535,186,141,...,827,286,271,42032,60273,17390,23636,46326,28808,37.138777
118,Jack,149.0,3,0.020134,8842,1465,6854,415,23,12,...,443,104,137,51700,68400,25626,32456,56388,34067,9.706457
159,Mason,80.0,4,0.050000,8098,2587,4945,148,2,16,...,286,35,95,45329,58607,24409,26869,45357,26534,7.599467
42,Collin,17122.0,174,0.010162,944350,143369,547403,88702,3132,135508,...,69454,39903,47248,94192,120691,43439,50063,76606,53878,1122.521028
168,Montague,245.0,5,0.020408,19409,2111,16694,120,32,0,...,1004,381,274,51774,68340,28457,31811,54199,30751,20.849581
62,Dickens,51.0,2,0.039216,2216,673,1463,68,0,12,...,73,20,20,41618,57230,23452,26317,46406,37422,2.457515
32,Carson,52.0,0,0.000000,6032,600,5186,78,79,31,...,419,116,163,70087,84978,32917,41216,55800,40615,6.554847
120,Jasper,511.0,34,0.066536,35504,2360,26471,5833,62,157,...,1547,335,389,46088,64734,25004,31429,57370,30417,37.824334
141,La Salle,369.0,9,0.024390,20640,4025,14980,903,25,208,...,1088,516,308,58194,73074,28158,30331,52763,35051,28.954564
16,Borden,2.0,0,0.000000,665,56,595,0,0,0,...,80,10,9,81985,85046,33781,48405,54375,41094,0.740994
167,Mitchell,154.0,2,0.012987,8558,3381,4159,847,53,30,...,394,22,115,49670,71553,20896,36892,42345,34250,9.393144
67,Ector,3604.0,93,0.025805,158342,94453,52830,6704,339,1692,...,8186,3062,2645,60676,82506,28700,35230,54956,35600,176.364513
131,Kent,10.0,0,0.000000,749,122,613,8,6,0,...,42,3,32,45926,68737,29503,36875,49773,40000,0.829910
103,Haskell,78.0,3,0.038462,5809,1665,3758,192,33,44,...,197,43,31,46013,53831,21308,26002,37900,30476,6.432054
146,Limestone,659.0,16,0.024279,23515,5101,13816,4058,90,177,...,777,281,128,42680,57409,21822,25553,36608,31293,25.971086
188,Presidio,124.0,7,0.056452,7123,5956,987,0,0,180,...,330,0,0,27061,39099,16066,20353,32396,39318,1.847609
119,Jackson,639.0,16,0.025039,14820,4873,8717,947,0,134,...,586,277,175,60276,71786,26329,33144,54392,31335,17.867412
192,Real,122.0,8,0.065574,3389,672,2709,5,0,2,...,64,33,17,34813,48791,21109,20392,27143,27813,4.847252
241,Wheeler,62.0,0,0.000000,5482,1448,3740,142,13,5,...,256,118,51,49352,65686,26844,30885,47174,32273,5.994382
206,Schleicher,55.0,2,0.036364,3061,1603,1444,13,0,0,...,123,53,12,55677,61014,25128,30734,53676,25379,2.335497

In [294]:
texas_combined.head(2)

  county_name  total_cases  total_fatalities  death_rate
0    Anderson       2922.0                39    0.013347
1     Andrews        567.0                10    0.017637

In [296]:
texas_combined['county_name'] = [i.lower() for i in texas_combined['county_name']]

In [297]:
texas_combined

    county_name  total_cases  total_fatalities  death_rate
0      anderson       2922.0                39    0.013347
1       andrews        567.0                10    0.017637
2      angelina       2277.0                90    0.039526
3       aransas        340.0                18    0.052941
4        archer        133.0                 1    0.007519
..          ...          ...               ...         ...
249        wood        621.0                36    0.057971
250      yoakum        289.0                 5    0.017301
251       young        497.0                 6    0.012072
252      zapata        342.0                 9    0.026316
253      zavala        452.0                18    0.039823

[254 rows x 4 columns]

In [299]:
texas_combined.sort_values(by='county_name', ascending=True, inplace=True)

In [300]:
texas_combined.reset_index(inplace=True)

In [301]:
texas_combined.drop(columns='index', inplace=True)
texas_combined

    county_name  total_cases  total_fatalities  death_rate
0      anderson       2922.0                39    0.013347
1       andrews        567.0                10    0.017637
2      angelina       2277.0                90    0.039526
3       aransas        340.0                18    0.052941
4        archer        133.0                 1    0.007519
..          ...          ...               ...         ...
249        wood        621.0                36    0.057971
250      yoakum        289.0                 5    0.017301
251       young        497.0                 6    0.012072
252      zapata        342.0                 9    0.026316
253      zavala        452.0                18    0.039823

[254 rows x 4 columns]

In [298]:
census_df['county_name'] = [i.lower() for i in census_df['county_name']]
census_df

,county_name,race_pop,race_pop_hispanic_or_latino_of_any_race,race_pop_white_alone,race_pop_black_or_african_american_alone,race_pop_american_indian_and_alaska_native_alone,race_pop_asian_alone,race_pop_native_hawaiian_and_other_pacific_islander_alone,race_pop_some_other_race_alone,race_pop_two_or_more_races,...,inc_hhlds_100_000_to_149_999,inc_hhlds_150_000_to_199_999,inc_hhlds_200_000_or_more,inc_med_hhld_inc_dol,inc_mean_hhld_inc_dol,inc_per_capita_inc_dol,inc_med_earn_workers_dol,inc_med_earn_male_full_yr_workers_dol,inc_med_earn_female_full_yr_workers_dol,pop_density
0,anderson,57863,10142,34312,12127,158,319,9,15,781,...,1432,422,240,43355,55852,16868,26621,36865,26890,54.452632
1,andrews,17818,9979,7215,321,0,63,21,0,219,...,1214,398,352,74233,94962,31190,40478,72970,35194,11.872960
2,angelina,87607,19174,53216,12834,107,987,5,163,1121,...,3257,985,639,47714,61152,22322,27411,41488,32622,109.813207
3,aransas,24763,6756,16691,365,14,488,0,33,416,...,1047,476,496,44865,75471,30939,21567,43182,32005,98.246769
4,archer,8789,727,7772,76,27,47,0,0,140,...,626,198,145,64476,80073,31806,32469,49105,37377,9.729998
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249,wood,43815,4313,36273,2335,277,133,37,34,413,...,1996,663,455,48534,68298,27841,28985,49656,34209,67.904439
250,yoakum,8571,5643,2763,25,11,5,0,29,95,...,557,153,142,68814,82418,26519,43250,68603,36103,10.717568
251,young,18114,3332,14176,354,112,89,0,0,51,...,1066,172,131,47194,64653,25855,30734,49142,27542,19.807588
252,zapata,14369,13542,615,0,0,179,0,0,33,...,215,78,82,31113,52009,17228,18938,36461,24946,14.391854
253,zavala,12131,11372,602,60,0,4,0,0,93,...,129,9,6,30988,39610,13350,19020,31708,22638,9.350188

In [302]:
for i, n in zip(texas_combined['county_name'], census_df['county_name']):
    if i == n:
        print(i,' : ', n)
    else:
        print(i, ' : ', n, '---->','BAD')

anderson  :  anderson
andrews  :  andrews
angelina  :  angelina
aransas  :  aransas
archer  :  archer
armstrong  :  armstrong
atascosa  :  atascosa
austin  :  austin
bailey  :  bailey
bandera  :  bandera
bastrop  :  bastrop
baylor  :  baylor
bee  :  bee
bell  :  bell
bexar  :  bexar
blanco  :  blanco
borden  :  borden
bosque  :  bosque
bowie  :  bowie
brazoria  :  brazoria
brazos  :  brazos
brewster  :  brewster
briscoe  :  briscoe
brooks  :  brooks
brown  :  brown
burleson  :  burleson
burnet  :  burnet
caldwell  :  caldwell
calhoun  :  calhoun
callahan  :  callahan
cameron  :  cameron
camp  :  camp
carson  :  carson
cass  :  cass
castro  :  castro
chambers  :  chambers
cherokee  :  cherokee
childress  :  childress
clay  :  clay
cochran  :  cochran
coke  :  coke
coleman  :  coleman
collin  :  collin
collingsworth  :  collingsworth
colorado  :  colorado
comal  :  comal
comanche  :  comanche
concho  :  concho
cooke  :  cooke
coryell  :  coryell
cottle  :  cottle
crane  :  crane
crockett  :  crockett
crosby  :  crosby
culberson  :  culberson
dallam  :  dallam
dallas  :  dallas
dawson  :  dawson
deaf smith  :  deaf smith
delta  :  delta
denton  :  denton
dewitt  :  dewitt
dickens  :  dickens
dimmit  :  dimmit
donley  :  donley
duval  :  duval
eastland  :  eastland
ector  :  ector
edwards  :  edwards
el paso  :  el paso
ellis  :  ellis
erath  :  erath
falls  :  falls
fannin  :  fannin
fayette  :  fayette
fisher  :  fisher
floyd  :  floyd
foard  :  foard
fort bend  :  fort bend
franklin  :  franklin
freestone  :  freestone
frio  :  frio
gaines  :  gaines
galveston  :  galveston
garza  :  garza
gillespie  :  gillespie
glasscock  :  glasscock
goliad  :  goliad
gonzales  :  gonzales
gray  :  gray
grayson  :  grayson
gregg  :  gregg
grimes  :  grimes
guadalupe  :  guadalupe
hale  :  hale
hall  :  hall
hamilton  :  hamilton
hansford  :  hansford
hardeman  :  hardeman
hardin  :  hardin
harris  :  harris
harrison  :  harrison
hartley  :  hartley
haskell  :  haskell
hays  :  hays
hemphill  :  hemphill
henderson  :  henderson
hidalgo  :  hidalgo
hill  :  hill
hockley  :  hockley
hood  :  hood
hopkins  :  hopkins
houston  :  houston
howard  :  howard
hudspeth  :  hudspeth
hunt  :  hunt
hutchinson  :  hutchinson
irion  :  irion
jack  :  jack
jackson  :  jackson
jasper  :  jasper
jeff davis  :  jeff davis
jefferson  :  jefferson
jim hogg  :  jim hogg
jim wells  :  jim wells
johnson  :  johnson
jones  :  jones
karnes  :  karnes
kaufman  :  kaufman
kendall  :  kendall
kenedy  :  kenedy
kent  :  kent
kerr  :  kerr
kimble  :  kimble
king  :  king
kinney  :  kinney
kleberg  :  kleberg
knox  :  knox
la salle  :  la salle
lamar  :  lamar
lamb  :  lamb
lampasas  :  lampasas
lavaca  :  lavaca
lee  :  lee
leon  :  leon
liberty  :  liberty
limestone  :  limestone
lipscomb  :  lipscomb
live oak  :  live oak
llano  :  llano
loving  :  loving
lubbock  :  lubbock
lynn  :  lynn
madison  :  madison
marion  :  marion
martin  :  martin
mason  :  mason
matagorda  :  matagorda
maverick  :  maverick
mcculloch  :  mcculloch
mclennan  :  mclennan
mcmullen  :  mcmullen
medina  :  medina
menard  :  menard
midland  :  midland
milam  :  milam
mills  :  mills
mitchell  :  mitchell
montague  :  montague
montgomery  :  montgomery
moore  :  moore
morris  :  morris
motley  :  motley
nacogdoches  :  nacogdoches
navarro  :  navarro
newton  :  newton
nolan  :  nolan
nueces  :  nueces
ochiltree  :  ochiltree
oldham  :  oldham
orange  :  orange
palo pinto  :  palo pinto
panola  :  panola
parker  :  parker
parmer  :  parmer
pecos  :  pecos
polk  :  polk
potter  :  potter
presidio  :  presidio
rains  :  rains
randall  :  randall
reagan  :  reagan
real  :  real
red river  :  red river
reeves  :  reeves
refugio  :  refugio
roberts  :  roberts
robertson  :  robertson
rockwall  :  rockwall
runnels  :  runnels
rusk  :  rusk
sabine  :  sabine
san augustine  :  san augustine
san jacinto  :  san jacinto
san patricio  :  san patricio
san saba  :  san saba
schleicher  :  schleicher
scurry  :  scurry
shackelford  :  shackelford
shelby  :  shelby
sherman  :  sherman
smith  :  smith
somervell  :  somervell
starr  :  starr
stephens  :  stephens
sterling  :  sterling
stonewall  :  stonewall
sutton  :  sutton
swisher  :  swisher
tarrant  :  tarrant
taylor  :  taylor
terrell  :  terrell
terry  :  terry
throckmorton  :  throckmorton
titus  :  titus
tom green  :  tom green
travis  :  travis
trinity  :  trinity
tyler  :  tyler
upshur  :  upshur
upton  :  upton
uvalde  :  uvalde
val verde  :  val verde
van zandt  :  van zandt
victoria  :  victoria
walker  :  walker
waller  :  waller
ward  :  ward
washington  :  washington
webb  :  webb
wharton  :  wharton
wheeler  :  wheeler
wichita  :  wichita
wilbarger  :  wilbarger
willacy  :  willacy
williamson  :  williamson
wilson  :  wilson
winkler  :  winkler
wise  :  wise
wood  :  wood
yoakum  :  yoakum
young  :  young
zapata  :  zapata
zavala  :  zavala

In [303]:
texas_combined_census = pd.merge(texas_combined, census_df, on='county_name', left_index=True, right_index=True)

In [305]:
texas_combined_census[texas_combined_census['county_name'] == 'mason']

,county_name,total_cases,total_fatalities,death_rate,race_pop,race_pop_hispanic_or_latino_of_any_race,race_pop_white_alone,race_pop_black_or_african_american_alone,race_pop_american_indian_and_alaska_native_alone,race_pop_asian_alone,...,inc_hhlds_100_000_to_149_999,inc_hhlds_150_000_to_199_999,inc_hhlds_200_000_or_more,inc_med_hhld_inc_dol,inc_mean_hhld_inc_dol,inc_per_capita_inc_dol,inc_med_earn_workers_dol,inc_med_earn_male_full_yr_workers_dol,inc_med_earn_female_full_yr_workers_dol,pop_density
156,mason,80.0,4,0.05,4161,978,3029,1,12,92,...,120,80,49,40708,60697,25602,22571,38106,28289,4.479801

In [307]:
texas_combined_census.to_csv('../data/texas_combined_cleaned_WITH_Census_FA.csv', index=False)

In [309]:
texas_combined_census.sample(20, random_state=22)

,county_name,total_cases,total_fatalities,death_rate,race_pop,race_pop_hispanic_or_latino_of_any_race,race_pop_white_alone,race_pop_black_or_african_american_alone,race_pop_american_indian_and_alaska_native_alone,race_pop_asian_alone,...,inc_hhlds_100_000_to_149_999,inc_hhlds_150_000_to_199_999,inc_hhlds_200_000_or_more,inc_med_hhld_inc_dol,inc_mean_hhld_inc_dol,inc_per_capita_inc_dol,inc_med_earn_workers_dol,inc_med_earn_male_full_yr_workers_dol,inc_med_earn_female_full_yr_workers_dol,pop_density
71,erath,991.0,13,0.013118,41482,8671,31082,674,213,312,...,1716,744,404,48819,67961,25290,23053,42103,32345,38.296568
177,nueces,16136.0,405,0.025099,360486,228462,107652,13071,919,7134,...,18198,6452,5780,55048,74820,27649,30869,48043,34488,430.012072
186,polk,912.0,32,0.035088,47837,7193,33877,4850,693,313,...,1875,691,700,46182,63446,24686,27868,45098,31397,45.255405
224,titus,1562.0,35,0.022407,32730,14015,14871,2953,84,333,...,1142,300,255,46698,59775,20633,26798,38409,29067,80.604447
50,cottle,33.0,3,0.090909,1623,382,867,243,5,0,...,14,20,14,34375,47243,20108,21934,40526,26250,1.802204
15,blanco,153.0,6,0.039216,11279,2173,8712,2,0,165,...,699,268,285,63071,85285,34925,29346,47961,34068,15.902714
128,kaufman,3436.0,55,0.016007,118910,24531,77641,12799,468,1410,...,7606,2822,1424,65390,81752,27411,35454,52527,41538,152.316905
26,burnet,854.0,13,0.015222,45750,10120,33745,831,292,383,...,2399,658,931,59238,79066,30507,27171,46182,36201,46.013890
242,wichita,3134.0,31,0.009892,131818,24818,86518,13116,922,2732,...,5364,1583,1153,46575,62083,23921,25985,41341,31862,210.037062
95,hall,41.0,1,0.024390,3074,1057,1729,239,3,9,...,108,17,30,32921,54817,22846,20659,40734,30060,3.479375
77,foard,20.0,0,0.000000,1408,288,1095,25,0,0,...,37,18,18,46354,60131,25636,23833,38977,20962,1.998873
101,harrison,1042.0,38,0.036468,66645,8627,42414,14084,188,489,...,2833,958,669,51202,68884,25418,30864,50660,33857,74.053620
151,lubbock,16130.0,158,0.009795,301454,105514,162667,20528,1067,6328,...,13681,4690,4913,50473,71043,27089,26321,45699,35418,336.592958
98,hardeman,60.0,1,0.016667,3952,851,2693,271,41,0,...,144,12,46,42238,56979,22938,22042,41901,29426,5.685398
122,jefferson,8139.0,149,0.018307,255210,51461,104869,85589,428,9401,...,11636,4656,3520,48463,68549,26205,31505,49828,37419,291.211951
46,comanche,348.0,5,0.014368,13495,3729,9438,87,54,74,...,681,91,87,47893,60948,25127,30762,41545,30548,14.390783
56,dallas,90790.0,1211,0.013338,2586552,1033000,765816,572790,5243,158780,...,119771,50048,63870,56854,85064,31219,32067,42810,40218,2966.038878
239,webb,14909.0,325,0.021799,272053,259797,9513,780,118,1295,...,8056,2498,2193,42293,59917,17326,24028,36910,28115,80.932554
119,jackson,639.0,16,0.025039,14820,4873,8717,947,0,134,...,586,277,175,60276,71786,26329,33144,54392,31335,17.867412
94,hale,2407.0,60,0.024927,34113,20153,11669,1486,10,104,...,965,239,162,47080,56831,19854,28851,41728,32002,33.954095

In [310]:
census_df.sample(20, random_state=22)

,county_name,race_pop,race_pop_hispanic_or_latino_of_any_race,race_pop_white_alone,race_pop_black_or_african_american_alone,race_pop_american_indian_and_alaska_native_alone,race_pop_asian_alone,race_pop_native_hawaiian_and_other_pacific_islander_alone,race_pop_some_other_race_alone,race_pop_two_or_more_races,...,inc_hhlds_100_000_to_149_999,inc_hhlds_150_000_to_199_999,inc_hhlds_200_000_or_more,inc_med_hhld_inc_dol,inc_mean_hhld_inc_dol,inc_per_capita_inc_dol,inc_med_earn_workers_dol,inc_med_earn_male_full_yr_workers_dol,inc_med_earn_female_full_yr_workers_dol,pop_density
71,erath,41482,8671,31082,674,213,312,21,9,500,...,1716,744,404,48819,67961,25290,23053,42103,32345,38.296568
177,nueces,360486,228462,107652,13071,919,7134,242,226,2780,...,18198,6452,5780,55048,74820,27649,30869,48043,34488,430.012072
186,polk,47837,7193,33877,4850,693,313,62,31,818,...,1875,691,700,46182,63446,24686,27868,45098,31397,45.255405
224,titus,32730,14015,14871,2953,84,333,0,40,434,...,1142,300,255,46698,59775,20633,26798,38409,29067,80.604447
50,cottle,1623,382,867,243,5,0,0,89,37,...,14,20,14,34375,47243,20108,21934,40526,26250,1.802204
15,blanco,11279,2173,8712,2,0,165,39,0,188,...,699,268,285,63071,85285,34925,29346,47961,34068,15.902714
128,kaufman,118910,24531,77641,12799,468,1410,46,232,1783,...,7606,2822,1424,65390,81752,27411,35454,52527,41538,152.316905
26,burnet,45750,10120,33745,831,292,383,0,0,379,...,2399,658,931,59238,79066,30507,27171,46182,36201,46.013890
242,wichita,131818,24818,86518,13116,922,2732,59,450,3203,...,5364,1583,1153,46575,62083,23921,25985,41341,31862,210.037062
95,hall,3074,1057,1729,239,3,9,0,0,37,...,108,17,30,32921,54817,22846,20659,40734,30060,3.479375
77,foard,1408,288,1095,25,0,0,0,0,0,...,37,18,18,46354,60131,25636,23833,38977,20962,1.998873
101,harrison,66645,8627,42414,14084,188,489,15,43,785,...,2833,958,669,51202,68884,25418,30864,50660,33857,74.053620
151,lubbock,301454,105514,162667,20528,1067,6328,182,223,4945,...,13681,4690,4913,50473,71043,27089,26321,45699,35418,336.592958
98,hardeman,3952,851,2693,271,41,0,0,0,96,...,144,12,46,42238,56979,22938,22042,41901,29426,5.685398
122,jefferson,255210,51461,104869,85589,428,9401,114,251,3097,...,11636,4656,3520,48463,68549,26205,31505,49828,37419,291.211951
46,comanche,13495,3729,9438,87,54,74,0,1,112,...,681,91,87,47893,60948,25127,30762,41545,30548,14.390783
56,dallas,2586552,1033000,765816,572790,5243,158780,1125,4484,45314,...,119771,50048,63870,56854,85064,31219,32067,42810,40218,2966.038878
239,webb,272053,259797,9513,780,118,1295,33,132,385,...,8056,2498,2193,42293,59917,17326,24028,36910,28115,80.932554
119,jackson,14820,4873,8717,947,0,134,8,0,141,...,586,277,175,60276,71786,26329,33144,54392,31335,17.867412
94,hale,34113,20153,11669,1486,10,104,7,22,662,...,965,239,162,47080,56831,19854,28851,41728,32002,33.954095

## Total Cases with Census percentages

In [311]:
census_percent = pd.read_csv('../data/tx_cleaned_percent.csv')

In [312]:
census_percent.head()

,county_state,sex_age_median_age_in_years,health_ins_noninst_pop_private,health_ins_noninst_pop_public,inc_med_hhld_inc_dol,inc_mean_hhld_inc_dol,inc_per_capita_inc_dol,inc_med_earn_workers_dol,inc_med_earn_male_full_yr_workers_dol,inc_med_earn_female_full_yr_workers_dol,...,percent_inc_hhlds_less_than_10_000,percent_inc_hhlds_10_000_to_14_999,percent_inc_hhlds_15_000_to_24_999,percent_inc_hhlds_25_000_to_34_999,percent_inc_hhlds_35_000_to_49_999,percent_inc_hhlds_50_000_to_74_999,percent_inc_hhlds_75_000_to_99_999,percent_inc_hhlds_100_000_to_149_999,percent_inc_hhlds_150_000_to_199_999,percent_inc_hhlds_200_000_or_more
0,"Austin County, Texas",40.7,20393,8863,65365,80769,30858,33993,55417,38603,...,0.043655,0.041572,0.113667,0.083960,0.107418,0.167648,0.149534,0.194729,0.049905,0.047912
1,"Kenedy County, Texas",39.5,212,276,36125,40908,15820,29453,40848,23295,...,0.119617,0.019139,0.234450,0.062201,0.339713,0.076555,0.110048,0.038278,0.000000,0.000000
2,"Nueces County, Texas",35.3,208747,119691,55048,74820,27649,30869,48043,34488,...,0.069179,0.053853,0.102229,0.100228,0.130897,0.181430,0.126158,0.141151,0.050044,0.044832
3,"Colorado County, Texas",42.5,13815,6868,49504,70324,27861,30469,41853,34692,...,0.051391,0.050726,0.119025,0.118626,0.165624,0.179071,0.124484,0.090268,0.056983,0.043802
4,"San Patricio County, Texas",35.3,39263,21923,55229,71588,25281,31318,50594,31847,...,0.073483,0.046192,0.103585,0.092773,0.132131,0.193287,0.126638,0.134596,0.064141,0.033173

In [313]:
census_percent.rename(columns={'county_state': 'county_name'}, inplace=True)
census_percent['county_name'] = [i.lower() for i in census_percent['county_name']]
census_percent

,county_name,sex_age_median_age_in_years,health_ins_noninst_pop_private,health_ins_noninst_pop_public,inc_med_hhld_inc_dol,inc_mean_hhld_inc_dol,inc_per_capita_inc_dol,inc_med_earn_workers_dol,inc_med_earn_male_full_yr_workers_dol,inc_med_earn_female_full_yr_workers_dol,...,percent_inc_hhlds_less_than_10_000,percent_inc_hhlds_10_000_to_14_999,percent_inc_hhlds_15_000_to_24_999,percent_inc_hhlds_25_000_to_34_999,percent_inc_hhlds_35_000_to_49_999,percent_inc_hhlds_50_000_to_74_999,percent_inc_hhlds_75_000_to_99_999,percent_inc_hhlds_100_000_to_149_999,percent_inc_hhlds_150_000_to_199_999,percent_inc_hhlds_200_000_or_more
0,"austin county, texas",40.7,20393,8863,65365,80769,30858,33993,55417,38603,...,0.043655,0.041572,0.113667,0.083960,0.107418,0.167648,0.149534,0.194729,0.049905,0.047912
1,"kenedy county, texas",39.5,212,276,36125,40908,15820,29453,40848,23295,...,0.119617,0.019139,0.234450,0.062201,0.339713,0.076555,0.110048,0.038278,0.000000,0.000000
2,"nueces county, texas",35.3,208747,119691,55048,74820,27649,30869,48043,34488,...,0.069179,0.053853,0.102229,0.100228,0.130897,0.181430,0.126158,0.141151,0.050044,0.044832
3,"colorado county, texas",42.5,13815,6868,49504,70324,27861,30469,41853,34692,...,0.051391,0.050726,0.119025,0.118626,0.165624,0.179071,0.124484,0.090268,0.056983,0.043802
4,"san patricio county, texas",35.3,39263,21923,55229,71588,25281,31318,50594,31847,...,0.073483,0.046192,0.103585,0.092773,0.132131,0.193287,0.126638,0.134596,0.064141,0.033173
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249,"mcculloch county, texas",44.6,4869,2929,45329,58607,24409,26869,45357,26534,...,0.084485,0.062366,0.118587,0.106605,0.164055,0.224885,0.111214,0.087865,0.010753,0.029186
250,"lee county, texas",41.5,11420,5353,55000,67793,25876,31188,47531,33876,...,0.061599,0.072903,0.097969,0.080439,0.141874,0.221822,0.131553,0.112385,0.048493,0.030963
251,"ellis county, texas",36.1,115928,42252,72213,90350,30727,36752,53656,43455,...,0.035315,0.033327,0.066601,0.077239,0.109760,0.193625,0.151934,0.183865,0.086175,0.062160
252,"kerr county, texas",47.7,31033,22022,52473,73327,30498,27148,41314,37059,...,0.047770,0.039199,0.106039,0.123375,0.166041,0.185496,0.136666,0.116248,0.046567,0.032601
253,"falls county, texas",39.3,8635,6361,38032,49617,17830,25760,31817,35503,...,0.153905,0.074852,0.108077,0.129082,0.156196,0.162689,0.096429,0.087455,0.022532,0.008784

In [320]:
county_names_census = []

for county in census_percent['county_name']:
    if len(county.split()) == 3:
        county = county.split()[0]
        county = county.lower()
    elif len(county.split()) == 4:
        county = county.split()[0]+ ' ' + county.split()[1]
        county = county.lower()
    
    county_names_census.append(county)
len(county_names_census)

254

In [321]:
census_percent['county_name'] = county_names_census

In [322]:
census_percent

,county_name,sex_age_median_age_in_years,health_ins_noninst_pop_private,health_ins_noninst_pop_public,inc_med_hhld_inc_dol,inc_mean_hhld_inc_dol,inc_per_capita_inc_dol,inc_med_earn_workers_dol,inc_med_earn_male_full_yr_workers_dol,inc_med_earn_female_full_yr_workers_dol,...,percent_inc_hhlds_less_than_10_000,percent_inc_hhlds_10_000_to_14_999,percent_inc_hhlds_15_000_to_24_999,percent_inc_hhlds_25_000_to_34_999,percent_inc_hhlds_35_000_to_49_999,percent_inc_hhlds_50_000_to_74_999,percent_inc_hhlds_75_000_to_99_999,percent_inc_hhlds_100_000_to_149_999,percent_inc_hhlds_150_000_to_199_999,percent_inc_hhlds_200_000_or_more
0,AUSTIN,40.7,20393,8863,65365,80769,30858,33993,55417,38603,...,0.043655,0.041572,0.113667,0.083960,0.107418,0.167648,0.149534,0.194729,0.049905,0.047912
1,KENEDY,39.5,212,276,36125,40908,15820,29453,40848,23295,...,0.119617,0.019139,0.234450,0.062201,0.339713,0.076555,0.110048,0.038278,0.000000,0.000000
2,NUECES,35.3,208747,119691,55048,74820,27649,30869,48043,34488,...,0.069179,0.053853,0.102229,0.100228,0.130897,0.181430,0.126158,0.141151,0.050044,0.044832
3,COLORADO,42.5,13815,6868,49504,70324,27861,30469,41853,34692,...,0.051391,0.050726,0.119025,0.118626,0.165624,0.179071,0.124484,0.090268,0.056983,0.043802
4,SAN PATRICIO,35.3,39263,21923,55229,71588,25281,31318,50594,31847,...,0.073483,0.046192,0.103585,0.092773,0.132131,0.193287,0.126638,0.134596,0.064141,0.033173
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249,MCCULLOCH,44.6,4869,2929,45329,58607,24409,26869,45357,26534,...,0.084485,0.062366,0.118587,0.106605,0.164055,0.224885,0.111214,0.087865,0.010753,0.029186
250,LEE,41.5,11420,5353,55000,67793,25876,31188,47531,33876,...,0.061599,0.072903,0.097969,0.080439,0.141874,0.221822,0.131553,0.112385,0.048493,0.030963
251,ELLIS,36.1,115928,42252,72213,90350,30727,36752,53656,43455,...,0.035315,0.033327,0.066601,0.077239,0.109760,0.193625,0.151934,0.183865,0.086175,0.062160
252,KERR,47.7,31033,22022,52473,73327,30498,27148,41314,37059,...,0.047770,0.039199,0.106039,0.123375,0.166041,0.185496,0.136666,0.116248,0.046567,0.032601
253,FALLS,39.3,8635,6361,38032,49617,17830,25760,31817,35503,...,0.153905,0.074852,0.108077,0.129082,0.156196,0.162689,0.096429,0.087455,0.022532,0.008784

In [323]:
census_percent['county_name'] = [i.lower() for i in census_percent['county_name']]
census_percent

,county_name,sex_age_median_age_in_years,health_ins_noninst_pop_private,health_ins_noninst_pop_public,inc_med_hhld_inc_dol,inc_mean_hhld_inc_dol,inc_per_capita_inc_dol,inc_med_earn_workers_dol,inc_med_earn_male_full_yr_workers_dol,inc_med_earn_female_full_yr_workers_dol,...,percent_inc_hhlds_less_than_10_000,percent_inc_hhlds_10_000_to_14_999,percent_inc_hhlds_15_000_to_24_999,percent_inc_hhlds_25_000_to_34_999,percent_inc_hhlds_35_000_to_49_999,percent_inc_hhlds_50_000_to_74_999,percent_inc_hhlds_75_000_to_99_999,percent_inc_hhlds_100_000_to_149_999,percent_inc_hhlds_150_000_to_199_999,percent_inc_hhlds_200_000_or_more
0,austin,40.7,20393,8863,65365,80769,30858,33993,55417,38603,...,0.043655,0.041572,0.113667,0.083960,0.107418,0.167648,0.149534,0.194729,0.049905,0.047912
1,kenedy,39.5,212,276,36125,40908,15820,29453,40848,23295,...,0.119617,0.019139,0.234450,0.062201,0.339713,0.076555,0.110048,0.038278,0.000000,0.000000
2,nueces,35.3,208747,119691,55048,74820,27649,30869,48043,34488,...,0.069179,0.053853,0.102229,0.100228,0.130897,0.181430,0.126158,0.141151,0.050044,0.044832
3,colorado,42.5,13815,6868,49504,70324,27861,30469,41853,34692,...,0.051391,0.050726,0.119025,0.118626,0.165624,0.179071,0.124484,0.090268,0.056983,0.043802
4,san patricio,35.3,39263,21923,55229,71588,25281,31318,50594,31847,...,0.073483,0.046192,0.103585,0.092773,0.132131,0.193287,0.126638,0.134596,0.064141,0.033173
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249,mcculloch,44.6,4869,2929,45329,58607,24409,26869,45357,26534,...,0.084485,0.062366,0.118587,0.106605,0.164055,0.224885,0.111214,0.087865,0.010753,0.029186
250,lee,41.5,11420,5353,55000,67793,25876,31188,47531,33876,...,0.061599,0.072903,0.097969,0.080439,0.141874,0.221822,0.131553,0.112385,0.048493,0.030963
251,ellis,36.1,115928,42252,72213,90350,30727,36752,53656,43455,...,0.035315,0.033327,0.066601,0.077239,0.109760,0.193625,0.151934,0.183865,0.086175,0.062160
252,kerr,47.7,31033,22022,52473,73327,30498,27148,41314,37059,...,0.047770,0.039199,0.106039,0.123375,0.166041,0.185496,0.136666,0.116248,0.046567,0.032601
253,falls,39.3,8635,6361,38032,49617,17830,25760,31817,35503,...,0.153905,0.074852,0.108077,0.129082,0.156196,0.162689,0.096429,0.087455,0.022532,0.008784

In [329]:
census_percent.sort_values(by='county_name', ascending=True, inplace=True)

In [330]:
census_percent

,county_name,sex_age_median_age_in_years,health_ins_noninst_pop_private,health_ins_noninst_pop_public,inc_med_hhld_inc_dol,inc_mean_hhld_inc_dol,inc_per_capita_inc_dol,inc_med_earn_workers_dol,inc_med_earn_male_full_yr_workers_dol,inc_med_earn_female_full_yr_workers_dol,...,percent_inc_hhlds_less_than_10_000,percent_inc_hhlds_10_000_to_14_999,percent_inc_hhlds_15_000_to_24_999,percent_inc_hhlds_25_000_to_34_999,percent_inc_hhlds_35_000_to_49_999,percent_inc_hhlds_50_000_to_74_999,percent_inc_hhlds_75_000_to_99_999,percent_inc_hhlds_100_000_to_149_999,percent_inc_hhlds_150_000_to_199_999,percent_inc_hhlds_200_000_or_more
174,anderson,39.1,27169,16504,43355,55852,16868,26621,36865,26890,...,0.058874,0.074184,0.137493,0.130628,0.162282,0.197217,0.112097,0.087004,0.025639,0.014582
108,andrews,31.2,11313,4332,74233,94962,31190,40478,72970,35194,...,0.054829,0.031046,0.052832,0.095316,0.124546,0.152687,0.132171,0.220407,0.072259,0.063907
144,angelina,37.2,46576,31836,47714,61152,22322,27411,41488,32622,...,0.083553,0.054381,0.132963,0.119611,0.132248,0.188318,0.130364,0.105805,0.031998,0.020758
155,aransas,49.6,13508,10606,44865,75471,30939,21567,43182,32005,...,0.088634,0.055768,0.123198,0.120971,0.149385,0.152990,0.094996,0.111005,0.050466,0.052587
194,archer,44.5,6429,2718,64476,80073,31806,32469,49105,37377,...,0.037515,0.059724,0.086735,0.117947,0.103541,0.165066,0.138655,0.187875,0.059424,0.043517
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
154,wood,48.2,27043,18512,48534,68298,27841,28985,49656,34209,...,0.075918,0.065634,0.104289,0.119775,0.146513,0.175005,0.124493,0.120743,0.040106,0.027524
203,yoakum,31.2,5154,2076,68814,82418,26519,43250,68603,36103,...,0.024664,0.073617,0.060538,0.075859,0.092676,0.242900,0.111360,0.208146,0.057175,0.053064
112,young,41.4,10708,6048,47194,64653,25855,30734,49142,27542,...,0.058269,0.045602,0.106545,0.123293,0.186488,0.179029,0.108093,0.150035,0.024208,0.018438
113,zapata,29.6,4596,6540,31113,52009,17228,18938,36461,24946,...,0.162089,0.062429,0.158910,0.163451,0.156640,0.114415,0.096935,0.048808,0.017707,0.018615
11,zavala,32.9,4443,6018,30988,39610,13350,19020,31708,22638,...,0.126817,0.137361,0.170704,0.123682,0.168709,0.142491,0.089199,0.036763,0.002565,0.001710

In [331]:
census_percent.reset_index(inplace=True)
census_percent

,index,county_name,sex_age_median_age_in_years,health_ins_noninst_pop_private,health_ins_noninst_pop_public,inc_med_hhld_inc_dol,inc_mean_hhld_inc_dol,inc_per_capita_inc_dol,inc_med_earn_workers_dol,inc_med_earn_male_full_yr_workers_dol,...,percent_inc_hhlds_less_than_10_000,percent_inc_hhlds_10_000_to_14_999,percent_inc_hhlds_15_000_to_24_999,percent_inc_hhlds_25_000_to_34_999,percent_inc_hhlds_35_000_to_49_999,percent_inc_hhlds_50_000_to_74_999,percent_inc_hhlds_75_000_to_99_999,percent_inc_hhlds_100_000_to_149_999,percent_inc_hhlds_150_000_to_199_999,percent_inc_hhlds_200_000_or_more
0,174,anderson,39.1,27169,16504,43355,55852,16868,26621,36865,...,0.058874,0.074184,0.137493,0.130628,0.162282,0.197217,0.112097,0.087004,0.025639,0.014582
1,108,andrews,31.2,11313,4332,74233,94962,31190,40478,72970,...,0.054829,0.031046,0.052832,0.095316,0.124546,0.152687,0.132171,0.220407,0.072259,0.063907
2,144,angelina,37.2,46576,31836,47714,61152,22322,27411,41488,...,0.083553,0.054381,0.132963,0.119611,0.132248,0.188318,0.130364,0.105805,0.031998,0.020758
3,155,aransas,49.6,13508,10606,44865,75471,30939,21567,43182,...,0.088634,0.055768,0.123198,0.120971,0.149385,0.152990,0.094996,0.111005,0.050466,0.052587
4,194,archer,44.5,6429,2718,64476,80073,31806,32469,49105,...,0.037515,0.059724,0.086735,0.117947,0.103541,0.165066,0.138655,0.187875,0.059424,0.043517
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249,154,wood,48.2,27043,18512,48534,68298,27841,28985,49656,...,0.075918,0.065634,0.104289,0.119775,0.146513,0.175005,0.124493,0.120743,0.040106,0.027524
250,203,yoakum,31.2,5154,2076,68814,82418,26519,43250,68603,...,0.024664,0.073617,0.060538,0.075859,0.092676,0.242900,0.111360,0.208146,0.057175,0.053064
251,112,young,41.4,10708,6048,47194,64653,25855,30734,49142,...,0.058269,0.045602,0.106545,0.123293,0.186488,0.179029,0.108093,0.150035,0.024208,0.018438
252,113,zapata,29.6,4596,6540,31113,52009,17228,18938,36461,...,0.162089,0.062429,0.158910,0.163451,0.156640,0.114415,0.096935,0.048808,0.017707,0.018615
253,11,zavala,32.9,4443,6018,30988,39610,13350,19020,31708,...,0.126817,0.137361,0.170704,0.123682,0.168709,0.142491,0.089199,0.036763,0.002565,0.001710

In [332]:
census_percent.drop(columns='index', inplace=True)
census_percent

,county_name,sex_age_median_age_in_years,health_ins_noninst_pop_private,health_ins_noninst_pop_public,inc_med_hhld_inc_dol,inc_mean_hhld_inc_dol,inc_per_capita_inc_dol,inc_med_earn_workers_dol,inc_med_earn_male_full_yr_workers_dol,inc_med_earn_female_full_yr_workers_dol,...,percent_inc_hhlds_less_than_10_000,percent_inc_hhlds_10_000_to_14_999,percent_inc_hhlds_15_000_to_24_999,percent_inc_hhlds_25_000_to_34_999,percent_inc_hhlds_35_000_to_49_999,percent_inc_hhlds_50_000_to_74_999,percent_inc_hhlds_75_000_to_99_999,percent_inc_hhlds_100_000_to_149_999,percent_inc_hhlds_150_000_to_199_999,percent_inc_hhlds_200_000_or_more
0,anderson,39.1,27169,16504,43355,55852,16868,26621,36865,26890,...,0.058874,0.074184,0.137493,0.130628,0.162282,0.197217,0.112097,0.087004,0.025639,0.014582
1,andrews,31.2,11313,4332,74233,94962,31190,40478,72970,35194,...,0.054829,0.031046,0.052832,0.095316,0.124546,0.152687,0.132171,0.220407,0.072259,0.063907
2,angelina,37.2,46576,31836,47714,61152,22322,27411,41488,32622,...,0.083553,0.054381,0.132963,0.119611,0.132248,0.188318,0.130364,0.105805,0.031998,0.020758
3,aransas,49.6,13508,10606,44865,75471,30939,21567,43182,32005,...,0.088634,0.055768,0.123198,0.120971,0.149385,0.152990,0.094996,0.111005,0.050466,0.052587
4,archer,44.5,6429,2718,64476,80073,31806,32469,49105,37377,...,0.037515,0.059724,0.086735,0.117947,0.103541,0.165066,0.138655,0.187875,0.059424,0.043517
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249,wood,48.2,27043,18512,48534,68298,27841,28985,49656,34209,...,0.075918,0.065634,0.104289,0.119775,0.146513,0.175005,0.124493,0.120743,0.040106,0.027524
250,yoakum,31.2,5154,2076,68814,82418,26519,43250,68603,36103,...,0.024664,0.073617,0.060538,0.075859,0.092676,0.242900,0.111360,0.208146,0.057175,0.053064
251,young,41.4,10708,6048,47194,64653,25855,30734,49142,27542,...,0.058269,0.045602,0.106545,0.123293,0.186488,0.179029,0.108093,0.150035,0.024208,0.018438
252,zapata,29.6,4596,6540,31113,52009,17228,18938,36461,24946,...,0.162089,0.062429,0.158910,0.163451,0.156640,0.114415,0.096935,0.048808,0.017707,0.018615
253,zavala,32.9,4443,6018,30988,39610,13350,19020,31708,22638,...,0.126817,0.137361,0.170704,0.123682,0.168709,0.142491,0.089199,0.036763,0.002565,0.001710

In [333]:
for i, n in zip(texas_combined['county_name'], census_percent['county_name']):
    if i == n:
        print(i,' : ', n)
    else:
        print(i, ' : ', n, '---->','BAD')

anderson  :  anderson
andrews  :  andrews
angelina  :  angelina
aransas  :  aransas
archer  :  archer
armstrong  :  armstrong
atascosa  :  atascosa
austin  :  austin
bailey  :  bailey
bandera  :  bandera
bastrop  :  bastrop
baylor  :  baylor
bee  :  bee
bell  :  bell
bexar  :  bexar
blanco  :  blanco
borden  :  borden
bosque  :  bosque
bowie  :  bowie
brazoria  :  brazoria
brazos  :  brazos
brewster  :  brewster
briscoe  :  briscoe
brooks  :  brooks
brown  :  brown
burleson  :  burleson
burnet  :  burnet
caldwell  :  caldwell
calhoun  :  calhoun
callahan  :  callahan
cameron  :  cameron
camp  :  camp
carson  :  carson
cass  :  cass
castro  :  castro
chambers  :  chambers
cherokee  :  cherokee
childress  :  childress
clay  :  clay
cochran  :  cochran
coke  :  coke
coleman  :  coleman
collin  :  collin
collingsworth  :  collingsworth
colorado  :  colorado
comal  :  comal
comanche  :  comanche
concho  :  concho
cooke  :  cooke
coryell  :  coryell
cottle  :  cottle
crane  :  crane
crockett  :  crockett
crosby  :  crosby
culberson  :  culberson
dallam  :  dallam
dallas  :  dallas
dawson  :  dawson
deaf smith  :  deaf smith
delta  :  delta
denton  :  denton
dewitt  :  dewitt
dickens  :  dickens
dimmit  :  dimmit
donley  :  donley
duval  :  duval
eastland  :  eastland
ector  :  ector
edwards  :  edwards
el paso  :  el paso
ellis  :  ellis
erath  :  erath
falls  :  falls
fannin  :  fannin
fayette  :  fayette
fisher  :  fisher
floyd  :  floyd
foard  :  foard
fort bend  :  fort bend
franklin  :  franklin
freestone  :  freestone
frio  :  frio
gaines  :  gaines
galveston  :  galveston
garza  :  garza
gillespie  :  gillespie
glasscock  :  glasscock
goliad  :  goliad
gonzales  :  gonzales
gray  :  gray
grayson  :  grayson
gregg  :  gregg
grimes  :  grimes
guadalupe  :  guadalupe
hale  :  hale
hall  :  hall
hamilton  :  hamilton
hansford  :  hansford
hardeman  :  hardeman
hardin  :  hardin
harris  :  harris
harrison  :  harrison
hartley  :  hartley
haskell  :  haskell
hays  :  hays
hemphill  :  hemphill
henderson  :  henderson
hidalgo  :  hidalgo
hill  :  hill
hockley  :  hockley
hood  :  hood
hopkins  :  hopkins
houston  :  houston
howard  :  howard
hudspeth  :  hudspeth
hunt  :  hunt
hutchinson  :  hutchinson
irion  :  irion
jack  :  jack
jackson  :  jackson
jasper  :  jasper
jeff davis  :  jeff davis
jefferson  :  jefferson
jim hogg  :  jim hogg
jim wells  :  jim wells
johnson  :  johnson
jones  :  jones
karnes  :  karnes
kaufman  :  kaufman
kendall  :  kendall
kenedy  :  kenedy
kent  :  kent
kerr  :  kerr
kimble  :  kimble
king  :  king
kinney  :  kinney
kleberg  :  kleberg
knox  :  knox
la salle  :  la salle
lamar  :  lamar
lamb  :  lamb
lampasas  :  lampasas
lavaca  :  lavaca
lee  :  lee
leon  :  leon
liberty  :  liberty
limestone  :  limestone
lipscomb  :  lipscomb
live oak  :  live oak
llano  :  llano
loving  :  loving
lubbock  :  lubbock
lynn  :  lynn
madison  :  madison
marion  :  marion
martin  :  martin
mason  :  mason
matagorda  :  matagorda
maverick  :  maverick
mcculloch  :  mcculloch
mclennan  :  mclennan
mcmullen  :  mcmullen
medina  :  medina
menard  :  menard
midland  :  midland
milam  :  milam
mills  :  mills
mitchell  :  mitchell
montague  :  montague
montgomery  :  montgomery
moore  :  moore
morris  :  morris
motley  :  motley
nacogdoches  :  nacogdoches
navarro  :  navarro
newton  :  newton
nolan  :  nolan
nueces  :  nueces
ochiltree  :  ochiltree
oldham  :  oldham
orange  :  orange
palo pinto  :  palo pinto
panola  :  panola
parker  :  parker
parmer  :  parmer
pecos  :  pecos
polk  :  polk
potter  :  potter
presidio  :  presidio
rains  :  rains
randall  :  randall
reagan  :  reagan
real  :  real
red river  :  red river
reeves  :  reeves
refugio  :  refugio
roberts  :  roberts
robertson  :  robertson
rockwall  :  rockwall
runnels  :  runnels
rusk  :  rusk
sabine  :  sabine
san augustine  :  san augustine
san jacinto  :  san jacinto
san patricio  :  san patricio
san saba  :  san saba
schleicher  :  schleicher
scurry  :  scurry
shackelford  :  shackelford
shelby  :  shelby
sherman  :  sherman
smith  :  smith
somervell  :  somervell
starr  :  starr
stephens  :  stephens
sterling  :  sterling
stonewall  :  stonewall
sutton  :  sutton
swisher  :  swisher
tarrant  :  tarrant
taylor  :  taylor
terrell  :  terrell
terry  :  terry
throckmorton  :  throckmorton
titus  :  titus
tom green  :  tom green
travis  :  travis
trinity  :  trinity
tyler  :  tyler
upshur  :  upshur
upton  :  upton
uvalde  :  uvalde
val verde  :  val verde
van zandt  :  van zandt
victoria  :  victoria
walker  :  walker
waller  :  waller
ward  :  ward
washington  :  washington
webb  :  webb
wharton  :  wharton
wheeler  :  wheeler
wichita  :  wichita
wilbarger  :  wilbarger
willacy  :  willacy
williamson  :  williamson
wilson  :  wilson
winkler  :  winkler
wise  :  wise
wood  :  wood
yoakum  :  yoakum
young  :  young
zapata  :  zapata
zavala  :  zavala

## combining Texas data with census percentage

In [334]:
texas_combined_census_percentage = pd.merge(texas_combined, census_percent, on='county_name', left_index=True, right_index=True)

In [335]:
texas_combined_census_percentage

,county_name,total_cases,total_fatalities,death_rate,sex_age_median_age_in_years,health_ins_noninst_pop_private,health_ins_noninst_pop_public,inc_med_hhld_inc_dol,inc_mean_hhld_inc_dol,inc_per_capita_inc_dol,...,percent_inc_hhlds_less_than_10_000,percent_inc_hhlds_10_000_to_14_999,percent_inc_hhlds_15_000_to_24_999,percent_inc_hhlds_25_000_to_34_999,percent_inc_hhlds_35_000_to_49_999,percent_inc_hhlds_50_000_to_74_999,percent_inc_hhlds_75_000_to_99_999,percent_inc_hhlds_100_000_to_149_999,percent_inc_hhlds_150_000_to_199_999,percent_inc_hhlds_200_000_or_more
0,anderson,2922.0,39,0.013347,39.1,27169,16504,43355,55852,16868,...,0.058874,0.074184,0.137493,0.130628,0.162282,0.197217,0.112097,0.087004,0.025639,0.014582
1,andrews,567.0,10,0.017637,31.2,11313,4332,74233,94962,31190,...,0.054829,0.031046,0.052832,0.095316,0.124546,0.152687,0.132171,0.220407,0.072259,0.063907
2,angelina,2277.0,90,0.039526,37.2,46576,31836,47714,61152,22322,...,0.083553,0.054381,0.132963,0.119611,0.132248,0.188318,0.130364,0.105805,0.031998,0.020758
3,aransas,340.0,18,0.052941,49.6,13508,10606,44865,75471,30939,...,0.088634,0.055768,0.123198,0.120971,0.149385,0.152990,0.094996,0.111005,0.050466,0.052587
4,archer,133.0,1,0.007519,44.5,6429,2718,64476,80073,31806,...,0.037515,0.059724,0.086735,0.117947,0.103541,0.165066,0.138655,0.187875,0.059424,0.043517
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249,wood,621.0,36,0.057971,48.2,27043,18512,48534,68298,27841,...,0.075918,0.065634,0.104289,0.119775,0.146513,0.175005,0.124493,0.120743,0.040106,0.027524
250,yoakum,289.0,5,0.017301,31.2,5154,2076,68814,82418,26519,...,0.024664,0.073617,0.060538,0.075859,0.092676,0.242900,0.111360,0.208146,0.057175,0.053064
251,young,497.0,6,0.012072,41.4,10708,6048,47194,64653,25855,...,0.058269,0.045602,0.106545,0.123293,0.186488,0.179029,0.108093,0.150035,0.024208,0.018438
252,zapata,342.0,9,0.026316,29.6,4596,6540,31113,52009,17228,...,0.162089,0.062429,0.158910,0.163451,0.156640,0.114415,0.096935,0.048808,0.017707,0.018615
253,zavala,452.0,18,0.039823,32.9,4443,6018,30988,39610,13350,...,0.126817,0.137361,0.170704,0.123682,0.168709,0.142491,0.089199,0.036763,0.002565,0.001710

In [336]:
texas_combined_census_percentage.to_csv('../data/texas_combined_cleaned_WITH_Census_Percentage_FA.csv', index=False)