### Resources:
- [Texas Department of State Health Services](https://dshs.texas.gov/coronavirus/additionaldata.aspx)

original data from Texas DSHS was provided in excel format. 

Prior ro importing the files to jupyter notebook, I deleted the first two rows, containing the title and a disclaimer, and saved the new changes as a csv file.

Files to be used:
- Total cases by county (data collected from 3/4/2020 - 10/13/2020)
- Active cases by county (data collected from 3/4/2020 - 10/13/2020)
- Total Fatalities by county (data collected from 3/7/2020 - 10/12/2020)

### Content
- [Total cases data](#Total-cases-data)
- [Active cases data](#Active-cases-data)  
- [Total fatality data](#Total-fatality-data)

# Total cases data

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
total_cases_df = pd.read_csv('./original data/Texas COVID-19 Case Count Data by County.csv')

In [4]:
total_cases_df.head()

,County Name,Cases \n03-04,Cases \r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\n\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\n03-05,Cases \r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\n\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\n03-06,Cases \r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\n\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\n03-09,Cases \r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\n\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\n03-10,Cases \r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\n\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\n03-11,Cases \r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\n\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\n03-12,Cases \r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\n\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\n03-13,Cases \r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\n\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\n03-15,...,Cases 10-04,Cases 10-05,Cases 10-06,Cases 10-07,Cases 10-08,Cases 10-09,Cases 10-10,Cases 10-11,Cases 10-12,Cases 10-13
0,Anderson,0,0,0,0,0,0,0,0,0,...,2821,2859,2836,2849,2858,2872,2868,2868,2879,2892
1,Andrews,0,0,0,0,0,0,0,0,0,...,457,457,466,477,477,488,510,510,510,518
2,Angelina,0,0,0,0,0,0,0,0,0,...,2189,2189,2205,2205,2205,2205,2214,2214,2214,2221
3,Aransas,0,0,0,0,0,0,0,0,0,...,335,335,335,335,335,335,335,335,335,340
4,Archer,0,0,0,0,0,0,0,0,0,...,88,88,88,89,89,98,98,98,98,101

In [5]:
total_cases_df.shape

(255, 222)

In [6]:
#column names are not in the right format
#also March7, 8, and 14 are missing from this file

#making a list of dates between these two dates
date1 = '2020-03-04'
date2 = '2020-10-13'
mydates = pd.date_range(date1, date2).tolist()

In [7]:
mydates[:6]

[Timestamp('2020-03-04 00:00:00', freq='D'),
 Timestamp('2020-03-05 00:00:00', freq='D'),
 Timestamp('2020-03-06 00:00:00', freq='D'),
 Timestamp('2020-03-07 00:00:00', freq='D'),
 Timestamp('2020-03-08 00:00:00', freq='D'),
 Timestamp('2020-03-09 00:00:00', freq='D')]

In [8]:
del mydates[3:5]

In [9]:
mydates[8]

Timestamp('2020-03-14 00:00:00', freq='D')

In [10]:
del mydates[8]

In [11]:
len(mydates)

221

In [12]:
date = str(mydates[0])
date

'2020-03-04 00:00:00'

In [13]:
date[:10]

'2020-03-04'

In [14]:
new_dates = []
for date in mydates:
    date =  str(date)
    new_dates.append(date[:10])

In [15]:
new_columns = ['county_name'] + new_dates
new_columns[:6]

['county_name',
 '2020-03-04',
 '2020-03-05',
 '2020-03-06',
 '2020-03-09',
 '2020-03-10']

In [16]:
total_cases_df.columns = new_columns

In [17]:
total_cases_df.head()

,county_name,2020-03-04,2020-03-05,2020-03-06,2020-03-09,2020-03-10,2020-03-11,2020-03-12,2020-03-13,2020-03-15,...,2020-10-04,2020-10-05,2020-10-06,2020-10-07,2020-10-08,2020-10-09,2020-10-10,2020-10-11,2020-10-12,2020-10-13
0,Anderson,0,0,0,0,0,0,0,0,0,...,2821,2859,2836,2849,2858,2872,2868,2868,2879,2892
1,Andrews,0,0,0,0,0,0,0,0,0,...,457,457,466,477,477,488,510,510,510,518
2,Angelina,0,0,0,0,0,0,0,0,0,...,2189,2189,2205,2205,2205,2205,2214,2214,2214,2221
3,Aransas,0,0,0,0,0,0,0,0,0,...,335,335,335,335,335,335,335,335,335,340
4,Archer,0,0,0,0,0,0,0,0,0,...,88,88,88,89,89,98,98,98,98,101

In [19]:
total_cases_df.to_csv('./cleaned datasets/cleaned-Texas-total-covid-cases.csv', index=False)

----

# Active cases data

In [20]:
active_cases_df = pd.read_csv('./original data/Texas COVID-19 Active Case Data by County.csv')
active_cases_df

,County,Active \r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\nCases \r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\n4-7,Active \r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\nCases \r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\n4-8,Active \r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\nCases \r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\n4-9,Active \r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\nCases \r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\n4-10,Active \r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\nCases \r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\n4-11,Active \r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\nCases \r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\n4-12,Active \r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\nCases \r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\n4-13,Active \r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\nCases \r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\n4-14,Active \r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\nCases \r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\n4-15,...,Active Cases 10-04,Active Cases 10-05,Active Cases 10-06,Active Cases 10-07,Active Cases 10-08,Active Cases 10-09,Active Cases 10-10,Active Cases 10-11,Active Cases 10-12,Active Cases 10-13
0,Anderson,1.0,1.0,2.0,2.0,3.0,3.0,3.0,3.0,3.0,...,72.0,102.0,93.0,95.0,85.0,96.0,87.0,53.0,54.0,61.0
1,Andrews,10.0,10.0,10.0,11.0,11.0,11.0,12.0,13.0,13.0,...,84.0,84.0,80.0,91.0,91.0,102.0,94.0,94.0,94.0,94.0
2,Angelina,14.0,14.0,14.0,15.0,15.0,14.0,14.0,14.0,13.0,...,93.0,94.0,110.0,104.0,103.0,103.0,94.0,94.0,88.0,95.0
3,Aransas,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,40.0,39.0,37.0,20.0,20.0,19.0,18.0,17.0,17.0,22.0
4,Archer,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,2.0,1.0,2.0,2.0,6.0,5.0,5.0,5.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
684,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
685,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
686,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
687,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
688,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
date3 = '2020-04-07'
date4 = '2020-10-13'
mydates2 = pd.date_range(date3, date4).tolist()

In [22]:
len(mydates2)

190

In [23]:
new_dates2 = []
for date in mydates2:
    date =  str(date)
    new_dates2.append(date[:10])

In [24]:
new_columns2 = ['county_name'] + new_dates2
new_columns2[:6]

['county_name',
 '2020-04-07',
 '2020-04-08',
 '2020-04-09',
 '2020-04-10',
 '2020-04-11']

In [25]:
active_cases_df.columns = new_columns2

In [26]:
active_cases_df.head()

,county_name,2020-04-07,2020-04-08,2020-04-09,2020-04-10,2020-04-11,2020-04-12,2020-04-13,2020-04-14,2020-04-15,...,2020-10-04,2020-10-05,2020-10-06,2020-10-07,2020-10-08,2020-10-09,2020-10-10,2020-10-11,2020-10-12,2020-10-13
0,Anderson,1.0,1.0,2.0,2.0,3.0,3.0,3.0,3.0,3.0,...,72.0,102.0,93.0,95.0,85.0,96.0,87.0,53.0,54.0,61.0
1,Andrews,10.0,10.0,10.0,11.0,11.0,11.0,12.0,13.0,13.0,...,84.0,84.0,80.0,91.0,91.0,102.0,94.0,94.0,94.0,94.0
2,Angelina,14.0,14.0,14.0,15.0,15.0,14.0,14.0,14.0,13.0,...,93.0,94.0,110.0,104.0,103.0,103.0,94.0,94.0,88.0,95.0
3,Aransas,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,40.0,39.0,37.0,20.0,20.0,19.0,18.0,17.0,17.0,22.0
4,Archer,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,2.0,1.0,2.0,2.0,6.0,5.0,5.0,5.0,5.0

In [27]:
active_cases_df.to_csv('./cleaned datasets/cleaned-Texas-active-covid-cases.csv', index=False)

----

# Total fatality data

In [28]:
total_fatality_df = pd.read_csv('./original data/Texas COVID-19 Fatality Count Data by County.csv')
total_fatality_df

,County Name,Fatalities 03-07,Fatalities 03-08,Fatalities 03-09,Fatalities 03-10,Fatalities 03-11,Fatalities 03-12,Fatalities 03-13,Fatalities 03-14,Fatalities 03-15,...,Fatalities 10-03,Fatalities 10-04,Fatalities 10-05,Fatalities 10-06,Fatalities 10-07,Fatalities 10-08,Fatalities 10-09,Fatalities 10-10,Fatalities 10-11,Fatalities 10-12
0,ANDERSON,0,0,0,0,0,0,0,0,0,...,37,37,37,37,37,37,37,37,37,37
1,ANDREWS,0,0,0,0,0,0,0,0,0,...,10,10,10,10,10,10,10,10,10,10
2,ANGELINA,0,0,0,0,0,0,0,0,0,...,85,85,86,86,86,86,86,86,86,86
3,ARANSAS,0,0,0,0,0,0,0,0,0,...,18,18,18,18,18,18,18,18,18,18
4,ARCHER,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249,WOOD,0,0,0,0,0,0,0,0,0,...,30,30,30,31,31,31,31,31,31,31
250,YOAKUM,0,0,0,0,0,0,0,0,0,...,5,5,5,5,5,5,5,5,5,5
251,YOUNG,0,0,0,0,0,0,0,0,0,...,6,6,6,6,6,6,6,6,6,6
252,ZAPATA,0,0,0,0,0,0,0,0,0,...,6,6,6,6,6,6,6,6,6,6
253,ZAVALA,0,0,0,0,0,0,0,0,0,...,17,17,17,17,17,17,17,17,17,17

fatalities columns look clean already. will not be changing them for now

In [30]:
#will save this file in the cleaned datasets folder
total_fatality_df.to_csv('./cleaned datasets/cleaned-Texas-fatality-covid-cases.csv', index=False)