In [1]:
import pandas as pd

In [2]:
all_us_counties = pd.read_csv('../data/preprocessing/us-counties.csv')
all_us_counties

,date,county,state,fips,cases,deaths,confirmed_cases,confirmed_deaths,probable_cases,probable_deaths
0,2020-10-25,Autauga,Alabama,1001.0,2059,31.0,1831.0,29.0,228.0,2.0
1,2020-10-25,Baldwin,Alabama,1003.0,6658,69.0,5644.0,65.0,1014.0,4.0
2,2020-10-25,Barbour,Alabama,1005.0,1033,9.0,731.0,9.0,302.0,0.0
3,2020-10-25,Bibb,Alabama,1007.0,840,14.0,771.0,10.0,69.0,4.0
4,2020-10-25,Blount,Alabama,1009.0,1932,25.0,1497.0,25.0,435.0,0.0
...,...,...,...,...,...,...,...,...,...,...
3240,2020-10-25,Sweetwater,Wyoming,56037.0,462,2.0,438.0,NaN,24.0,NaN
3241,2020-10-25,Teton,Wyoming,56039.0,747,1.0,713.0,NaN,34.0,NaN
3242,2020-10-25,Uinta,Wyoming,56041.0,431,3.0,346.0,NaN,85.0,NaN
3243,2020-10-25,Washakie,Wyoming,56043.0,144,7.0,132.0,NaN,12.0,NaN
3244,2020-10-25,Weston,Wyoming,56045.0,127,0.0,97.0,NaN,30.0,NaN

In [3]:
all_us_counties = all_us_counties[['date', 'county', 'state', 'fips', 'cases', 'deaths']]

In [4]:
all_us_counties

            date      county    state     fips  cases  deaths
0     2020-10-25     Autauga  Alabama   1001.0   2059    31.0
1     2020-10-25     Baldwin  Alabama   1003.0   6658    69.0
2     2020-10-25     Barbour  Alabama   1005.0   1033     9.0
3     2020-10-25        Bibb  Alabama   1007.0    840    14.0
4     2020-10-25      Blount  Alabama   1009.0   1932    25.0
...          ...         ...      ...      ...    ...     ...
3240  2020-10-25  Sweetwater  Wyoming  56037.0    462     2.0
3241  2020-10-25       Teton  Wyoming  56039.0    747     1.0
3242  2020-10-25       Uinta  Wyoming  56041.0    431     3.0
3243  2020-10-25    Washakie  Wyoming  56043.0    144     7.0
3244  2020-10-25      Weston  Wyoming  56045.0    127     0.0

[3245 rows x 6 columns]

In [5]:
all_us_counties.to_csv('../data/all_us_counties_covid_data.csv', index=False)